<% form_for [@work_order,@reply] do |f| %>
  <%= f.hidden_field :work_order_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= f.label :private %><%= f.check_box :private %>
  </p>
  <p>
    <%= f.label :content, "Comment" %>
    <%= f.text_area :content, :rows => '12', :cols => 72 %>
  </p>
    <div class="center">
       <%= f.submit "Post Reply" %>
    </div>

<% end %>
