<%= simple_form_for [@work_order,@reply] do |f| %>
    <%=  %>
    <%= f.input :content,:label => (t 'reply.message'), :input_html => { :class => "input-block-level", :rows => "10"}  %>
     <%= f.input :work_order_id, :as => :hidden %>
    <div class="form-actions">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <%= link_to t("global.cancel"), work_order_path, :class => "btn" %>
    </div>
<% end %>
