<%= form_for [@work_order,@reply] do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :work_order_id %>
  <%= f.hidden_field :user_id %>
  <p>
    <%= f.label :private %><br />
    <%= f.boolean :private %>
  </p>
  <p>
    <%= f.label :content, "Comment" %><br />
    <%= f.text_area :content, :rows => '12', :cols => 35 %>
  </p>
    <div class="center">
       <%= f.submit %>
    </div>

<% end %>
