<h1><%= [t "parts.t_title"] %></h1>
<%= link_to(image_tag('add.png',:title => [t "parts.t_add_new_part"]), new_part_path) %><%= link_to [t "parts.t_add_new_part"], new_part_path %>
<p></p>

<table border="1" cellpadding="0" cellspacing="0" >
  <tr>
    <th width="200"><%= t "supplier.company_name" %></th>
    <th width="200"><%= t "parts.description" %></th>
    <th width="100"><%= t "parts.model" %></th>
    <th width="100"><%= t "parts.cost" %></th>
    <th width="100"><%= t "parts.sell_price" %></th>
    <th width="100"><%= t "supplier.leadtime" %></th>
    <th width="50"><%= t "global.active" %></th>
    <th width="100"><%= t "global.actions" %></th>
  </tr>

<% @parts.each do |part| %>
  <tr align="center">
    <td><%=h part.supplier.company_name %></td>
    <td><%=h part.description %></td>
    <td><%=h part.model %></td>
    <td><%=h number_to_currency(part.cost_price) %></td>
    <td><%=h number_to_currency(part.sell_price) %></td>
    <td><%=h part.supplier.parts_leadtime_days %></td>
    <td><%=h part.active %></td>
    <td><%= link_to(image_tag('view.png', :title => [t "global.view"]), part )%>
        <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_part_path(part)) %>
        <%= link_to(image_tag('delete.png', :title => [t "global.delete"]), part, :confirm => 'Are you sure?', :method => :delete ) %>
    </td>
  </tr>
<% end %>
</table>

<br />