<h1>Listing statuses</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%=h status.name %></td>
    <td><%= link_to 'Show', status %></td>
    <td><%= link_to 'Edit', edit_status_path(status) %></td>
    <td><%= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New status', new_status_path %>