
<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>
    <h3 align="center">Service/Labour Charges</h3>
    <table id="invoice_line_items" >
      <th>Qty</th>
      <th>Service Charges</th>
      <th>Line Comments</th>
      <th>Remove</th>
<%= f.simple_fields_for :service_invoice_lines do |builder| %>
    <%= render "invoices/service_invoice_line", :f => builder %>
  <% end %>
 <%= link_to_add_fields image_tag('add.png', :title => [t "invoice.add_new_line"]), f, :service_invoice_lines  %>
    </table>
    <h3 align="center">Parts Charges</h3>
    <table id="invoice_line_items" >
      <th>Qty</th>
      <th>Product Charges</th>
      <th>Line Comments</th>
      <th>Remove</th>
<%= f.simple_fields_for :product_invoice_lines do |builder| %>
    <%= render "invoices/product_invoice_line", :f => builder %>
  <% end %>
      <%= link_to_add_fields image_tag('add.png', :title => [t "invoice.add_new_line"]), f, :product_invoice_lines %>
    </table>
    <HR>
    <%= f.input :invoice_note, :input_html => { :cols => 40, :rows => 3 } %>
    <%= f.input :paid %>


    <%= f.input :work_order_id, :as => :hidden, :input_html => { :value => params[:work_order_id] } if params[:work_order_id].present? %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => params[:user_id] } if params[:user_id].present? %>
    <%= f.input :created_by, :as => :hidden, :input_html => { :value => current_user.username} if @invoice.created_by.blank? %>
    <%= f.input :updated_by, :as => :hidden, :input_html => { :value => current_user.username} %>

  <div class="center">
    <%= f.button :submit %>
  </div>
<% end %>
