
    <tr align="center">
      <td><%= f.number_field :qty, :size => 2 %></td>
      <td><%= f.collection_select :service_rate_id, Product.where("active = ?",true).order('description'), :id, :description, :include_blank => true  %></td>
      <td class="clean"> <%= number_to_currency f.number_field :price, :disabled => true, :size => 3 %></td>
      <td class="clean"> <%= number_to_currency f.number_field :tax,:disabled => true, :size => 3 %></td>
      <td class="clean"><%= number_to_currency f.number_field :sub_total,:disabled => true, :size => 3 %></td>
      <td class="clean"> <%= number_to_currency f.number_field :total_price,:disabled => true, :size => 3 %></td>
      <td><%= f.text_field :line_comment, :size => 15 %></td>
       <td> <%= f.check_box :_destroy, :size => 3%></td>
    </tr>

