<div class="row-fluid">
<div class="span10">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#open" data-toggle="tab"><%= t "invoices.tab_menu_open" %>&nbsp;<% if open_invoices.count > 0 %><span class="badge badge-important"><%= open_invoices.count %></span><% end %></a></li>
      <li><a href="#paid" data-toggle="tab"><%= t "invoices.tab_menu_paid" %>&nbsp;<% if paid_invoices.count > 0 %><span class="badge badge-success"><%= paid_invoices.count %></span><% end %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="open">
        <p><%= render(:partial => 'invoices/open_tab') %></p>
      </div>
      <div class="tab-pane" id="paid">
        <p><%= render(:partial => 'invoices/paid_tab') %></p>
      </div>
    </div>
  </div>
  </div>

<div class="span2">
    <% if can? :create, Invoice %>
            <%= menu_button t("global.create"), new_invoice_path, "icon-pencil icon-white" %>
    <% end %>
  </div>
</div>