<div id="sidebar_left">
  <%= module_header %>
  <div class="module">
    <ul>
    <li class="back"><%= link_to (t "global.back"), :back %></li>
  </ul>
  </div>
  <%= render 'layouts/left_sidebar_modules' %>
</div>

<div id="center_col" class="no_right_sidebar">
  <div id="ddtabs1" class="basictab">
    <ul>
      <li><a href="#open" rel="open"><%= t "invoices.tab_menu_open" %>&nbsp;(<% if @open_invoices.count > 0 %><span style="color:red;"><%= @open_invoices.count %></span><% else %><%= @open_invoices.count %><% end %>)</a></li>
      <li><a href="#paid" rel="paid"><%= t "invoices.tab_menu_paid" %>&nbsp;(<% if @paid_invoices.count > 0 %><span style="color:#00ff00;"><%= @paid_invoices.count %></span><% else %><%= @paid_invoices.count %><% end %>)</a></li>
     </ul>
  </div>
  <div id="index_table">
    <div class="tabcontainer">

      <div id="open" class="tabcontent"><%= render(:partial => 'invoices/open_tab') %></div>
      <div id="paid" class="tabcontent" ><%= render(:partial => 'invoices/paid_tab') %></div>
    </div>
  </div>
  <div class="clear"></div>

</div>