<div class="span10">
  <h1 align="center">INVOICE #<%= @invoice.id %></h1>
  <div style="text-align: right">
    <p></p>
    <p></p>
  </div>
    <div class="row-fluid">
      <div class="span3">
        <h4>Bill To:</h4>
        <p><%= t "invoice.billing_account" %><%= @invoice.user_id %></p>
        <address>
          <strong><%= client_info.name %></strong><br>
          <% if client_info.address? %>
              <%= client_info.address %><br>
              <%= client_info.city %>,<%= client_info.state %>, <%= client_info.zip %><br>
          <% end %>
          <% if client_info.phone?%><abbr title="Phone">P: </abbr><%= client_info.phone %><br><% end %>
          <% if client_info.mobile?%><abbr title="Mobile">M: </abbr><%= client_info.mobile %><br><% end %>
          <% if client_info.fax?%><abbr title="Fax">F: </abbr><%= client_info.fax %><br><% end %>
          <% if client_info.email?%><abbr title="Email">E: </abbr><a href="mailto:'<%= client_info.email  %>'"><%= client_info.email  %></a><% end %>
        </address>
      </div>
      <div class="span3 offset6" >
        <h4>Bill From:</h4>
        <address>
          <strong><%= Setting::business_name %></strong><br>
          <%= Setting::business_address %><br>
          <% if Setting::business_phone?%><abbr title="Phone">P: </abbr><%= Setting::business_phone %><br><% end %>
          <% if Setting::business_toll_free?%><abbr title="Toll Free">TF: </abbr><%= Setting::business_toll_free %><br><% end %>
          <% if Setting::business_fax %><abbr title="Fax">F: </abbr><%= Setting::business_fax %><br><% end %>
          <% if Setting::business_email %><abbr title="Email">E: </abbr><a href="mailto:'<%= Setting::business_email  %>'"><%= Setting::business_email  %></a><% end %>
        </address>
      </div>
    </div>
  <div class="span7">
    <% if @invoice.work_order_id %>
        <table class="table table-condensed table-bordered">
          <caption><strong>Work Order Details</strong> </caption>
          <thead>
          <tr>
            <th><%= t "workorder.pdf.t_workorder" %></th>
            <th>Description</th>
            <th>Completed</th>
          </tr>
          </thead>
          <tbody>
          <tr class="success">
            <td>#<%= @invoice.work_order_id %></td>
            <td><%=truncate wo_details.subject, :length => 20 %></td>
            <td><%= l wo_details.closed_date, :format => :default %> <%= t "global.by" %> <%= wo_details.assigned_to_username  %></td>
          </tr>
          </tbody>
        </table>
    <% end %>
  </div>
  <div class="span2 offset2">
    <table class="table table-condensed table-bordered">
      <caption><strong>Invoice Dates</strong></caption>
      <thead>
      <tr>
        <th>Created:</th>
        <th>Due:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= l @invoice.created_at, :format => :short  %></td>
        <td> <%= l @invoice.due_date, :format => :default if @invoice.due_date.present?  %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <% if service_invoice_lines.present? %>
        <table class="table table-condensed table-bordered table-striped">
          <caption>Service's</caption>
          <thead>
          <tr>
            <th>Qty</th>
            <th>SKU</th>
            <th>Description</th>
            <th>Price</th>
            <th>Sub Total</th>
            <th>Tax</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <% service_invoice_lines.each do |lines| %>
              <tr>
                <td><%= lines.qty %></td>
                <td><%= lines.sku %></td>
                <td><%= lines.description %>
                  <br/>
                  <em style="font-size: 0.8em"><%= lines.line_comment %></em>
                </td>
                <td><%= number_to_currency lines.price %></td>
                <td><%= number_to_currency lines.sub_total %></td>
                <td><%= number_to_currency lines.tax %> </td>
                <td><%= number_to_currency lines.total_price %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <div class="row-fluid">
          <div class="span12" style="font-size: 0.8em">
            <div class="span3 offset9" style="text-align: right">
              <table>
                <tbody>
                <tr>
                  <td>Service's Sub Total:</td>
                  <td><strong><%= number_to_currency @invoice.srv_sub_totals %></strong></td>
                </tr>
                <tr>
                  <td>Service's Tax  <%= Setting::tax_type %>:</td>
                  <td><strong><%= number_to_currency @invoice.srv_tax_totals %></strong></td>
                </tr>
                <tr>
                  <td>Service's Total:</td>
                  <td><strong><%= number_to_currency @invoice.srv_price_totals %></strong></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

    <% end %>
  </div>
  <% if product_invoice_lines.present? %>
      <table class="table table-condensed table-bordered table-striped">
        <caption>Parts</caption>
        <thead>
        <tr>
          <th>Qty</th>
          <th>SKU</th>
          <th>Description</th>
          <th>Price</th>
          <th>Sub Total</th>
          <th>Tax</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <% product_invoice_lines.each do |lines| %>
            <tr>
              <td><%= lines.qty %></td>
              <td><%= lines.sku %></td>
              <td><%= lines.description %>
                <br/>
                <em style="font-size: 0.8em"><%= lines.line_comment %></em>
              </td>
              <td><%= number_to_currency lines.price %></td>
              <td><%= number_to_currency lines.sub_total %></td>
              <td><%= number_to_currency lines.tax %> </td>
              <td><%= number_to_currency lines.total_price %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="row-fluid">
        <div class="span12" style="font-size: 0.8em">
          <div class="span3 offset9" style="text-align: right">
            <table>
              <tbody>
              <tr>
                <td>Parts Sub Total:</td>
                <td><strong><%= number_to_currency @invoice.prod_sub_totals %></strong></td>
              </tr>
              <tr>
                <td>Parts Tax <%= Setting::tax_type %>:</td>
                <td><strong><%= number_to_currency @invoice.prod_tax_totals %></strong></td>
              </tr>
              <tr>
                <td>Parts Total:</td>
                <td><strong><%= number_to_currency @invoice.prod_price_totals %></strong></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  <% end %>
<!--Invoice Totals here-->
<hr/>
  <div class="row-fluid">
    <div class="span12" style="font-size: 1em">
      <div class="span4">
        <% if @invoice.invoice_note.present? then %>

              <h5>Invoice note:</h5>
              <p><%= @invoice.invoice_note %></p>

        <% end %>
      </div>
      <div class="span3 offset5" style="text-align: right">
        <table>
          <tbody>
          <tr>
            <td>Invoice Sub Total:</td>
            <td><strong><%= number_to_currency @invoice.inv_sub_totals %></strong></td>
          </tr>
          <tr>
            <td>Invoice Tax <%= Setting::tax_type %>:</td>
            <td><strong><%= number_to_currency @invoice.inv_tax_totals %></strong></td>
          </tr>
          <tr>
            <td>Invoice Total:</td>
            <td><strong><%= number_to_currency @invoice.inv_price_totals %></strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr/>
</div><!--end of span10-->


<div class="span2">
  <ul>
    <% if @invoice.paid.blank? %>
        <li class="edit"><%= link_to (t "global.edit"), edit_invoice_path if can? :edit, Invoice  %></li>
    <% end %>
    <li class="print"><%= link_to (t "global.print"), invoice_path(@invoice.id) if can? :read, Invoice %></li>
    <hr>
    <li class="delete"><%= link_to (t "global.delete"), invoice_path, :confirm => 'Are you sure?', :method => :delete  if can? :manage, Invoice %> </li>
    <hr>
    <li class="exit"><%= link_to (t "global.exit"), invoices_path if can? :read, Invoice %></li>
  </ul>
  <p>Created <%= l @invoice.created_at, :format => :short %> <%= t "global.by" %> <%= @invoice.created_by %></p>
  <p>Updated <%= time_ago_in_words @invoice.updated_at %> <%= t "global.ago" %> <%= t "global.by" %> <%= @invoice.updated_by if present? %><%= @invoice.created_by if @invoice.updated_by.blank? %></p>
  <%= payment_status @invoice.paid? %>
</div>


