<%= simple_form_for [@work_order,@task], :html => {:class => "form-horizontal"} do |f| %>
    <%= f.input :work_order_id, :as => :hidden %>
    <%= f.input :title %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
    <%= f.input :completed %>

<div class="form-actions">
  <%= f.submit nil, :class => "btn btn-primary" %>
  <%= link_to t("global.cancel"), work_order_path, :class => "btn" %>
</div>
<% end %>
