<p id="notice"><%= notice %></p>

<p>
  <b>Work order:</b>
  <%= @task.work_order_id %>
</p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>


<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>User:</b>
  <%= @task.user_id %>
</p>

<p>
  <b>Calendar:</b>
  <%= @task.calendar_id %>
</p>

<p>
  <b>Completed:</b>
  <%= @task.completed %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
