<%= simple_form_for(@permittable) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :role_id %>
    <%= f.input :permission_id %>
  </div>

  <div class="center">
    <%= f.button :submit %>
  </div>
<% end %>
