<div class="row-fluid">
  <div class="span10">
    <%= form_tag users_path, :method => 'get' do %>
        <p><%= t "user.search" %>
          <%= text_field_tag('search_users') %>
          <%= submit_tag t ("global.submit"), :name => nil %>
        </p>
    <% end %>
    <% if can? :manage, User %>
        <%= will_paginate @users %>
    <% end %>
    <table class="table table-bordered table-hover table table-condensed">

      <thead>
      <tr>
        <th><%= t "user.number" %></th>
        <th><%= sortable "name", (t "user.name") %></th>
        <th><%= (t "user.active_wo") %></th>
        <th><%= t "user.username" %></th>
        <th><%= t "global.phone" %></th>
        <th><%= t "global.mobile" %></th>
      </tr>
      </thead>
      <tbody>
      <% for user in @users do %>
          <tr class="<%= cycle :odd, :even %>">
            <td><%= link_to user.id, user %></td>
            <td>
              <% if user.active %>
                  <span class="label label-success"><%= user.name %></span>
              <% else %>
                  <span class="label label-important"><%= user.name %></span>
              <% end %></td>
            <td><%= employee_active_work_orders(user.id).count %></td>
            <td><%= user.username %></td>
            <td><%= user.phone %></td>
            <td><%= user.mobile %></td>

      <% end %>
      </tbody>
    </table>
    <% if can? :manage, User %>
        <%= will_paginate @users %>
    <% end %>
  </div>
</div>

