<h1><%= (t "user_t_edit_user") %></h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label t "user.username" %><br />
    <%= f.text_field :username %>  <%= f.label t "user.active" %><%= check_box "user", "active" %>
  </p>
  <p>
    <%= f.label t "global.email" %><br />
    <%= f.text_field :email %>
  </p>
  <p><% if permitted_to? :destroy, @user %>
    <%= f.label t "user.password" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label t "user.password_confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </p><% end %>
  <p>
     <% if permitted_to? :destroy, @user %>
<%= f.label :roles %><br />
    <% for role in User::ROLES %>
      <%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
      <%=h role.humanize %><br />
    <% end %>
    <%= hidden_field_tag "user[roles][]", "" %>
        <% end %>
  </p> 
  <p>
    <%= f.submit t "global.submit" %>
  </p>
<% end %>
 <% if permitted_to? :edit, @user %>
<%= link_to (t "global.cancel"), users_path %>
<% end %>