<h1 class="offset3"><%= t "user.t_edit_user" %></h1>
<div class="span12">
  <%= simple_form_for @user, :html => { :class => "form-horizontal"} do |f| %>
      <div class="span5 well">
        <h4 class="offset4"><%= t("global.required") %></h4>
        <%= f.input :username, :label => (t "user.username") %>
        <%= f.input :name, :hint =>(t "user.name_eg"), :label =>(t "user.name") %>
        <%= f.input :password, :required => true %>
        <%= f.input :password_confirmation, :label => (t "user.password_confirmation"), :required => true %>
        <%= f.input :email, :label => (t "global.email") %>
        <hr/>
        <% if current_user.employee %>
            <h4 class="offset4"><%= t("role.tab.permissions") %></h4>
            <%= f.input :client, :as => :radio_buttons, :label =>(t "user.client") %>
            <%= f.input :active, :as => :radio_buttons, :label =>(t "user.active") %>
            <%= f.input :employee, :as => :radio_buttons, :label =>(t "user.employed") %>
            <%= f.input :workorder_assignability, :as => :radio_buttons, :label =>(t "user.assignable") %>
            <%= f.association :role %>
        <% end %>
      </div>
      <div class="span5 well">
        <h4 class="offset4"><%= t("global.additional") %></h4>
        <%= f.input :address, :input_html => {:rows => 5}, :label => (t "global.address") %>
        <%= f.input :city, :input_html => {:size => 30}, :label => (t "global.city") %>
        <%= f.input :state, :input_html => {:size => 30}, :label => (t "global.state") %>
        <%= f.input :zip, :input_html => {:size => 30}, :label =>(t "global.zip") %>
        <%= f.input :phone, :input_html => {:size => 30}, :label => (t "global.phone") %>
        <%= f.input :mobile, :input_html => {:size => 30}, :label => (t "global.mobile") %>
        <%= f.input :fax, :input_html => {:size => 30}, :label => (t "global.fax") %>
        <% if current_user == nil %>
            <%= hidden_field_tag "user[created_by]", "SELF" %>
        <% else %>
            <%= hidden_field_tag "user[created_by]", current_user.username %>
        <% end %>
      </div>

      <div class="form-actions span10">
        <%= f.submit nil, :class => "btn btn-primary" %>
        <%= link_to t("global.cancel"), root_path, :class => "btn" %>
      </div>

  <% end %>
</div>
</div>