<h1><%= [t "user.t_title"] %> <%= link_to(image_tag('add.png',:title => [t "user.add_new_user"]), new_user_path) %> </h1>


<% form_tag users_path, :method => 'get' do %>
   <p><%= t "user.search"  %>
     <%=  text_field_tag :search, params[:search]  %>
     <%= submit_tag "Apply", :name => nil %>

   </p>
<% end %>
 <p>
  <%= will_paginate @user, :class => "digg_pagination" %>
</p>
<table border="1" cellpadding="1" cellspacing="0" >
  <tr>
    <th width="100"><%= t "user.number" %></th>
    <th width="100"><%= t "user.name" %></th>
    <th width="100"><%= t "user.username" %></th>
    <th width="100"><%= t "global.email" %></th>
    <th width="100"><%= t "global.role" %></th>
    <th width="100"><%= t "global.phone" %></th>
    <th width="100"><%= t "global.mobile" %></th>
    <th width="100"><%= t "global.active" %></th>
    <th width="100"><%= t "supplier.actions" %></th>
  </tr>

<% @user.each do |user| %>
  <tr align="center">
    <td><%=h user.id %></td>
    <td><%=h user.name %></td>
    <td><%=h user.username %></td>
    <td><%= auto_link_email_addresses( user.email ) %></td>
    <td><%=h user.role_symbols %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.mobile %></td>
    <td><%=h user.active %></td>
    <td>
      <% if permitted_to? :show, User.new  %>
          <%= link_to(image_tag('view.png', :title => [t "global.view"]), user )%>
      <% end %>
      <% if current_user.roles_mask < user.roles_mask or current_user.id == @user.id %>
        <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_user_path(user) ) %>
      <% end %>
      <% if permitted_to? :destroy, User.new  %>
        <%= link_to(image_tag('delete.png', :title => [t "global.delete"]), user, :confirm => 'Are you sure?', :method => :delete ) %>
      <% end %>
          </td>
  </tr>
<% end %>
</table>

<br />
