<div id="top_float_left">
  <%= link_to(image_tag('add.png',:title => [t "user.add_new_user"], :align => "bottom", :hspace => "2"), new_user_path) %><%= link_to([t "global.new"], new_user_path) %>
</div>
<br>
<%= form_tag users_path, :method => 'get' do %>
   <p><%= t "user.search"  %>
     <%= text_field_tag :search, params[:search] %>
     <%= submit_tag (t "global.submit"), :name => nil %>

   </p>
<% end %>
  <p>
  <%= will_paginate @user, :class => "digg_pagination" %>
</p>
<table id="index_table" >
  <tr>
    <th ><%= t "user.number" %></th>
    <th ><%= t "user.name" %></th>
    <th ><%= t "user.username" %></th>
    <th ><%= t "global.email" %></th>
    <th ><%= t "global.role" %></th>
    <th ><%= t "global.phone" %></th>
    <th ><%= t "global.mobile" %></th>
    <th ><%= t "global.active" %></th>
    <th align="center" ><%= t "supplier.actions" %></th>
  </tr>

<% @user.each do |user| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%=h user.id %></td>
    <td><%=h user.name %></td>
    <td><%=h user.username %></td>
    <td><%= auto_link_email_addresses( user.email ).html_safe %></td>
    <td><%=h  user.role_symbols %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.mobile %></td>
    <td><%=h user.active %></td>
    <td>
      <% if permitted_to? :show, User.new  %>
          <%= link_to(image_tag('view.png', :title => [t "global.view"]), user )%> &nbsp;|&nbsp;
          <%= link_to(image_tag('brick_add.png', :title => [t "global.workorder"]), new_work_order_url(:client_id => user.id, :clients_name => user.username) )%>
      <% end %> &nbsp;|&nbsp;
      <% if current_user.roles_mask < user.roles_mask or current_user.id == @user.id %>
        <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_user_path(user) ) %>&nbsp;|&nbsp;
      <% end %>

      <% if permitted_to? :destroy, User.new  %>
        <%= link_to(image_tag('delete.png', :title => [t "global.delete"]), user, :confirm => 'Are you sure?', :method => :delete ) %>
      <% end %>
          </td>
  </tr>
<% end %>
</table>
<!--
 per_page => 5
<br />Per Page :<%= link_to("1",  :controller => "users", :action => "index",:page =>"1", :per_page => "1") %>-->
