<h1><%= [t "user.t_title"] %></h1>
<p>
  <%= link_to(image_tag('add.png',:title => [t "user.add_new_user"]), new_user_path) %><%= link_to ( t "user.add_new_user"), new_user_path %>
</p>
<table border="1" cellpadding="0" cellspacing="0" >
  <tr>
    <th width="100"><%= t "user.number" %></th>
    <th width="100"><%= t "user.username" %></th>
    <th width="100"><%= t "global.email" %></th>
    <th width="100"><%= t "global.role" %></th>
    <th width="100"><%= t "global.roles_mask" %></th>
    <th width="100"><%= t "global.active" %></th>
    <th width="100"><%= t "supplier.actions" %></th>
  </tr>

<% @user.each do |user| %>
  <tr align="center">
    <td><%=h user.id %></td>
    <td><%=h user.username %></td>
    <td><%=h user.email %></td>
    <td><%=h user.role_symbols %></td>
    <td><%=h user.roles_mask %></td>
    <td><%=h user.active %></td>
    <td>
      <% if permitted_to? :show, User.new  %>
          <%= link_to(image_tag('view.png', :title => [t "global.view"]), user )%>
      <% end %>
      <% if permitted_to? :edit, User.new  %>
        <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_user_path(user) ) %>
      <% end %>
      <% if permitted_to? :destroy, User.new  %>
        <%= link_to(image_tag('delete.png', :title => [t "global.delete"]), user, :confirm => 'Are you sure?', :method => :delete ) %>
      <% end %>
          </td>
  </tr>
<% end %>
</table>

<br />