<div class="row-fluid">
  <div class="span10">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#contact_details" data-toggle="tab"><%= t "users.tab.contact_info" %></a></li>
        <!--<li><a href="#notes" data-toggle="tab"><%= t "users.tab.notes" %></a></li>-->
        <!--<li><a href="#dashboard" data-toggle="tab"><%= t "global.dashboard" %></a></li>-->
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="contact_details">
          <p><%= render(:partial => 'users/contact_details') %></p>
        </div>
        <!--<div class="tab-pane" id="notes">-->
          <!--<p><%= render(:partial => 'users/notes') %></p>-->
        <!--</div>-->
        <!--<div class="tab-pane" id="dashboard">-->
          <!--<p><%= render(:partial => 'dashboard') %></p>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <div class="span2">
      <%= menu_button t("global.create"), new_user_work_order_path(:user_id => current_user.id),  "icon-plus-sign icon-white" if current_user.client  %>
      <%= menu_button t("global.create"), new_user_work_order_path(:user_id => @user.id),  "icon-plus-sign icon-white" if can? :manage, WorkOrder  %>
      <%= menu_button t("global.create"), clients_path, "icon-plus-sign icon-white" if can? :manage, User %>
      <%= menu_button t("global.edit"), edit_user_path, "icon-pencil icon-white" if can? :manage, User %>
    </div>
</div>

  <fieldset id="collapsable">
    <h3 align="center"><%= t "user.t_log" %></h3>
    <table >
      <tr>
        <td align="right" >
          <strong><%= t "global.created_at" %>:</strong>
        </td>
        <td >
          <%= time_ago_in_words(@user.created_at) %> <%= t "global.ago" %> (<%= localize @user.created_at, :format => :short  %>) <%= t "global.by" %> <%= @user.created_by %>.
        </td>
      </tr>
      <% if @user.edited_at.nil? %>
      <% else %>
          <tr>
            <td align="right">
              <strong><%= t "global.updated_at" %>:</strong>
            </td>
            <td >
              <%= time_ago_in_words(@user.edited_at) %> <%= t "global.ago" %> (<%= localize @user.edited_at, :format => :short  %>) <%= t "global.by" %> <%= @user.edited_by %>.
            </td>
          </tr>
      <% end %>
      <tr>
        <td align="right">
          <strong><%= t "user.account_accessed" %>:</strong>
        </td>
        <td >
          <% if @user.login_count == 0 %>
              <%= t "user.not_logged_in_yet" %>
          <% else %>
              <% if @user.login_count == 1 %>
                  <%= time_ago_in_words(@user.last_request_at) %> <%= t "global.ago" %> (<%= localize @user.last_request_at, :format => :short  %>) <%= t "global.from" %> <%= @user.current_login_ip %>
              <% else %>
                  <% if @user.login_count > 1 %>
                      <%= time_ago_in_words(@user.last_request_at) %> <%= t "global.ago" %> (<%= localize @user.last_request_at, :format => :short  %>) <%= t "global.from" %> <%= @user.last_login_ip %>
                  <% end %>
              <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td align="right">
          <strong><%= t "user.login_failures" %>:</strong>
        </td>
        <td >
          <%= @user.failed_login_count %>
        </td>
      </tr>
      <tr>
        <td align="right">
          <strong><%= t "user.login_count" %>:</strong>
        </td>
        <td >
          <%= @user.login_count %>
        </td>
      </tr>

    </table><br>
  </fieldset>

