<p>
  <b><%= t "user.username" %></b>
  <%=h @user.email %>
</p>

<p>
  <b><%= t "global.email" %></b>
  <%=h @user.email %>
</p>
<p>
 <b><%= t "global.user_type" %>:</b>
<%= h @user.role_symbols %>
</p>
<p>
 <b><%= t "global.active" %></b>
<%= h @user.active  %>
</p>


<%= link_to (t "global.edit"), edit_user_path(@user) %> |
<%= link_to (t "global.back"), users_path %>