<p>
  <b><%= t "user.username" %></b>
  <%=h @user.email %>
</p>

<p>
  <b><%= t "global.email" %></b>
  <%=h @user.email %>
</p>
<p>
 <b><%= t "global.user_type" %>:</b>
<%= h @user.role_symbols %>
</p>
<p>
 <b><%= t "global.active" %></b>
<%= h @user.active  %>
</p>

<% if current_user.roles_mask < @user.roles_mask %>
<%= link_to (t "global.edit"),user_path %> |
<% end %>
<% if permitted_to? :edit, @user %>
<%= link_to (t "global.back"), users_path %>
 <% end %>
