    <%= simple_form_for @service_rate, :html => { :class => "form-horizontal"} do |f| %>
      <%= f.error_notification %>

        <%= f.input :sku %>

        <%= f.input :description %>

        <%= f.input :rate %>

        <%= f.input :taxable %>

        <% if @service_rate.tax_rate.present? %>
            <%= f.input :tax_rate %>
        <% else %>
           <%= f.input :tax_rate, :hint => t("products.hint_tax_rate") , :input_html => {:value => Setting::tax_rate} %>
        <% end %>

        <%= f.input :active %>


        <div class="form-actions span10">
          <%= f.submit nil, :class => "btn btn-primary" %>
          <%= link_to t("global.cancel"), :back, :class => "btn" %>
        </div>

    <% end %>