<div class="row-fluid">
  <div class="span10">
    <table class="table table-bordered table-hover table table-condensed">

      <thead>
      <tr>
        <th>SKU</th>
        <th>Description</th>
        <th>Rate</th>
        <th>Taxable</th>
        <th>Tax rate</th>
        <th><%= t "global.active" %></th>
        <th><%= t "global.actions" %></th>
      </tr>
      </thead>
      <tbody>
      <% @service_rates.each do |service_rate| %>
          <tr class="<%= cycle :odd, :even %>">
            <td><%= service_rate.sku %></td>
            <td><%= service_rate.description %></td>
            <td><%= number_to_currency(service_rate.rate) %></td>
            <td><%= service_rate.taxable %></td>
            <td><%= number_to_percentage(service_rate.tax_rate) %></td>
            <td><%= service_rate.active %></td>
            <td>
              <a class="btn btn-small" href="<%= service_rate_path(service_rate) %>"><i class="icon-eye-open"></i><%= t("global.view") %>
              </a>
              <a class="btn btn-small" href="<%= edit_service_rate_path(service_rate) %>"><i class="icon-edit"></i><%= t("global.edit") %>
              </a>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
  <div class="span2">
    <%= menu_button (t "global.create"), new_service_rate_path, "icon-plus icon-white" %>
  </div>
</div>

