<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab"><%= t("products.tab_menu_basic") %></a></li>
    <li><a href="#tab2" data-toggle="tab"><%= t ("settings.tab.taxation_information") %></a></li>
    <li><a href="#tab3" data-toggle="tab"><%= t "settings.tab.payment_options" %></a></li>
    <li><a href="#tab4" data-toggle="tab"><%= t "settings.tab.invoice_defaults" %></a></li>
    <li><a href="#tab5" data-toggle="tab"><%= t "settings.tab.localisation_url" %></a></li>
    <li><a href="#tab6" data-toggle="tab"><%= t "settings.tab.misc_url" %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= form_tag({:action => 'edit'}, :class => "form-horizontal") do %>
          <%= setting_text_field :business_name, :class => "span6", :label => :business_name %>
          <%= setting_text_field :business_slogan, :class => "span6", :label => :business_slogan %>
          <%= setting_text_field :business_phone, :size => 20, :label => :business_phone %>
          <%= setting_text_field :business_toll_free, :size => 20, :label => :business_toll_free %>
          <%= setting_text_field :business_fax, :size => 20, :label => :business_fax %>
          <%= setting_text_field :business_mobile, :size => 20, :label => :business_mobile %>
          <%= setting_text_field :business_email, :size => 50, :label => :business_email %>
          <%= setting_text_field :business_address, :class => "span3", :label => :business_address %>
          <%= setting_text_field :business_city, :class => "span3", :label => :business_city %>
          <%= setting_text_field :business_state, :class => "span3", :label => :business_state %>
          <%= setting_text_field :business_zip_code, :class => "span3", :label => :business_zip_code %>
          <%= setting_text_field :business_country, :class => "span3", :label => :business_country %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn">Cancel</button>
          </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= form_tag({:action => 'edit'}, :class => "form-horizontal") do %>
          <%= setting_text_field(:tax_type, :size => 10, :label => :tax_type) %>
          <%= setting_text_field(:tax_rate, :size => 10, :label => :tax_rate) %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn">Cancel</button>
          </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= form_tag({:action => 'edit'}, :class => "form-horizontal") do %>
          <%= setting_text_field(:tax_type, :size => 10, :label => :tax_type) %>
          <%= setting_text_field(:tax_rate, :size => 10, :label => :tax_rate) %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn">Cancel</button>
          </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab4">
      <%= form_tag({:action => 'edit'}, :class => "form-horizontal") do %>
          <%= setting_select(:default_invoice_terms, [['HTTP', 'http'], ['HTTPS', 'https']], :label => :default_invoice_terms) %>
          <%= setting_text_area(:default_invoice_note, :cols => 70, :rows => 8, :label => :default_invoice_note) %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn">Cancel</button>
          </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab5">
      <%= form_tag({:action => 'edit'}, :class => "form-horizontal") do %>
          <%= setting_select(:default_invoice_terms, [['HTTP', 'http'], ['HTTPS', 'https']], :label => :default_invoice_terms) %>
          <%= setting_text_area(:default_invoice_note, :cols => 70, :rows => 8, :label => :default_invoice_note) %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn">Cancel</button>
          </div>
      <% end %>
    </div>
    <div class="tab-pane" id="tab6">
      <%= form_tag({:action => 'edit'}, :class => "form-horizontal") do %>
          <%= setting_check_box(:logout_limit, :label => :logout_limit) %>
          <%= setting_text_field(:idle_time, :label => :idle_time) %>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn">Cancel</button>
          </div>
      <% end %>
    </div>
  </div>
</div>
