<!--myTODO Setting Labels not showing up. Also escaping output-->
<div id="sidebar_left">
  <%= module_header %>
  <div class="module">
    <ul>
        <li class="exit"><%= link_to t("global.exit"), root_url %></li>
    </ul>
  </div>
  <%= render 'layouts/left_sidebar_modules' %>
</div>
<div id="center_col">
  <div id="ddtabs1" class="basictab">
  <ul>
    <li><a href="#<%= t("products.tab_menu_basic_name") %>" rel="sc1"><%= t("products.tab_menu_basic") %></a></li>
    <li><a href="#<%= t("settings.tab.taxation_info") %>" rel="sc2"><%= t ("settings.tab.taxation_information") %></a></li>
    <li><a href="#<%= t "settings.tab.payment_options_url" %>" rel="sc3"><%= t "settings.tab.payment_options" %></a></li>
    <li><a href="#<%= t "settings.tab.invoice_defaults_url" %>" rel="sc4"><%= t "settings.tab.invoice_defaults" %></a></li>
    <!--<li><a href="#<%= t "settings.tab.localisation_url" %>" rel="sc5"><%= t "settings.tab.localisation_url" %></a></li>-->
    <li><a href="#<%= t "settings.tab.misc" %>" rel="sc6"><%= t "settings.tab.misc_url" %></a></li>
  </ul>
</div>

<div class="tabcontainer">

  <div id="sc1" class="tabcontent">
    <div class="simple_form">

      <%= simple_form_for(@setting) do |f| %>
        <%= f.input :business_name %>

      <div class="center">
                  <%= f.input :submit %>
               </div>
      <% end %>
    </div>

  </div>

  <div id="sc2" class="tabcontent">
    <div class="simple_form">
        <%= form_tag({:action => 'edit'}) do %>
            <p><%= setting_text_field(:tax_type, :size => 10)%></p>
            <p><%= setting_text_field(:tax_rate, :size => 10)%></p>
             <div class="center">
                <%= submit_tag t "global.apply" %>
             </div>
             <% end %>

        </div>

  </div>

  <div id="sc3" class="tabcontent">

  </div>

  <div id="sc4" class="tabcontent">
     <div class="simple_form">
        <%= form_tag({:action => 'edit'}) do %>
            <p><%= setting_select(:default_invoice_terms, [["7 Days NETT", '7'],["14 Days NETT",'14'], ["Cash On Delivery",'0']]) %></p>
            <p><%= setting_text_area(:default_invoice_note, :cols => 70 , :rows => 8) %></p>
             <div class="center">
                <%= submit_tag t "global.apply" %>
             </div>
            <% end %>

        </div>
  </div>
<div id="sc5" class="tabcontent">

  </div>
<div id="sc6" class="tabcontent">
      <div class="simple_form">
        <%= form_tag({:action => 'edit'}) do %>
            <p><%= setting_check_box(:logout_limit) %></p>
             <div class="center">
                <%= submit_tag t "global.apply" %>
             </div>
            <% end %>

        </div>
  </div>
</div>
   <div class="clear"></div>
</div>