<h1>New settings</h1>

<% semantic_form_for(@setting) do |f| %>
    <% tabs_for do |tab| %>
	    <% tab.create('tab_one', 'Business Information') do %>
            <% f.inputs  do %>
                <%= f.input :business_name %>
                <%= f.input :business_slogan %>
                <%= f.input :address %>
                <%= f.input :state %>
                <%= f.input :city %>
                <%= f.input :zip %>
                <%= f.input :phone %>
                <%= f.input :fax %>
                <%= f.input :email %>
                <%= f.input :business_contact_name %>
                <%= f.input :business_contact_email %>
                <%= f.input :business_contact_phone %>
                <%= f.input :business_number %>
            <% end %>
        <%= f.buttons %>
    <% end %>
   <% tab.create('tab_two', 'Billing Information') do %>
            <% f.inputs  do %>
                <%= f.input :billing_address %>
                <%= f.input :billing_state %>
                <%= f.input :billing_city %>
                <%= f.input :billing_zip %>
                <%= f.input :billing_phone %>
                <%= f.input :billing_fax %>
                <%= f.input :billing_email %>
            <% end %>
            <%= f.buttons %>
   <% end %>
      <% tab.create('tab_three', 'Misc') do %>
            <% f.inputs  do %>

                    <%= f.input :privacy_policy %>
                    
            <% end %>
            <%= f.buttons %>
   <% end %>



<% end %>
<% end %>

<%= link_to 'Back', settings_path %>