<% form_for(@priority_list) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :priority_id %><br />
    <%= f.text_field :priority_id %>
  </p>
  <p>
    <%= f.label :priority_name %><br />
    <%= f.text_field :priority_name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @priority_list %> |
<%= link_to 'Back', priority_lists_path %>