<%= simple_form_for(@permission) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :action, :collection => %W(manage update edit create show index destroy new modify) %>
    <%= f.input :subject_class, :collection => %W(ALL Invoice Permission PriorityList Product Reply Role ServiceRate Setting Supplier User User_Session WorkOrder ) %>
    <%= f.input :subject_id %>
  </div>

  <div class="center">
    <%= f.button :submit %>
  </div>
<% end %>
