<%= simple_form_for(@permission) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.association :roles %>
    <%= f.input :action %>
    <%= f.input :subject_class %>
    <%= f.input :subject_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
