<%= simple_form_for(@permission) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :action, :collection => %W(read create show index update destroy access_clients edit_profile manage) %>
    <%= f.input :subject_class, :collection => %W(Invoice Permission PriorityList Product ProductCategory Reply Role ServiceRate Setting Supplier User User_Session WorkOrder WorkOrders Employees Clients Profile) %>

  </div>

  <div class="center">
    <%= f.button :submit %>
  </div>
<% end %>
