<div class="span10">
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th><%= t("permission.module_class") %></th>
      <th><%= t("global.permission") %></th>
      <th><%= t("permission.action_type") %></th>
      <th><%= t("role.action") %></th>
    </tr>

  <% @permissions.each do |permission| %>
    <tr>
      <td><%= permission.subject_class %></td>
      <td><%= permission.name %></td>
      <td><%= permission.action %></td>
      <td>
        <%= menu_button t("global.view"), permission, "icon-eye-open", 'btn btn-mini btn-info' %>
        <%= menu_button t("global.edit"), edit_permission_path(permission), "icon-pencil", 'btn btn-mini btn-success' %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<div class="span2">
  <%= menu_button t("global.new"), new_permission_path, "icon-plus-sign icon-white"  %>
</div>