<p id="notice"><%= notice %></p>

<p>
  <b>Action:</b>
  <%= @permission.action %>
</p>

<p>
  <b>Subject class:</b>
  <%= @permission.subject_class %>
</p>

<p>
  <b>Subject:</b>
  <%= @permission.subject_id %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
