<% simple_form_for(@product_category) do |f| %>
  <%= f.inputs :name %>
  <%= f.submit t "global.create" %>
<% end %>
<h1 align="center"><%= t "product_cat.t_list" %></h1>
<p>
  <%= will_paginate @product_categories, :class => "digg_pagination" %>
  </p>
<% @product_categories.each do |cat|%>
         <table width="50%" align="center">
           <tr >
             <td  style="font-style:oblique; font-weight:bold;color:#ff0000;">
               <%=h cat.name %>
             </td>
           </tr>
         </table>
   <% end %>

 <p>
   <%= link_to 'Back', new_product_path %>
 </p>
