<h1>Listing product_invoice_lines</h1>

<table>
  <tr>
    <th>Invoice</th>
    <th>Product</th>
    <th>Qty</th>
    <th>Tax rate</th>
    <th>Tax</th>
    <th>Price</th>
    <th>Sub total</th>
    <th>Total price</th>
    <th>Line comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_invoice_lines.each do |product_invoice_line| %>
  <tr>
    <td><%= product_invoice_line.invoice_id %></td>
    <td><%= product_invoice_line.product_id %></td>
    <td><%= product_invoice_line.qty %></td>
    <td><%= product_invoice_line.tax_rate %></td>
    <td><%= product_invoice_line.tax %></td>
    <td><%= product_invoice_line.price %></td>
    <td><%= product_invoice_line.sub_total %></td>
    <td><%= product_invoice_line.total_price %></td>
    <td><%= product_invoice_line.line_comment %></td>
    <td><%= link_to 'Show', product_invoice_line %></td>
    <td><%= link_to 'Edit', edit_product_invoice_line_path(product_invoice_line) %></td>
    <td><%= link_to 'Destroy', product_invoice_line, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product invoice line', new_product_invoice_line_path %>
