<div id="ddtabs1" class="basictab">
  <ul>
    <li><a href="#<%= t "role.tab.basic" %>" rel="basic"><%= (t "workorder.tab_menu_basic") %></a></li>
    <li><a href="#<%= t "role.tab.permissions" %>" rel="Permissions">Permissions</a></li>
  </ul>
</div>
<div class="tabcontainer">
  <div id="basic" class="tabcontent">
    <%= simple_form_for(@role) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.input :enabled  %>
        <%= f.input :list_position %>
        <div class="clear"></div>
               <div class="center"><%= f.submit %></div>
  </div>
  <div id="Permissions" class="tabcontent">

            <%= f.association :permissions, :as => :check_boxes, :collection => Permission.all(:order => 'subject_class') %>
    <div class="clear"></div>
           <div class="center"><%= f.submit %></div>
    <% end %>
    </div>
</div>