<div id="ddtabs1" class="basictab">
  <ul>
    <li><a href="#<%= t "role.tab.basic" %>" rel="basic"><%= (t "workorder.tab_menu_basic") %></a></li>
    <li><a href="#<%= t "role.tab.permissions" %>" rel="Permissions">Permissions</a></li>
  </ul>
</div>
<div class="tabcontainer">
  <div id="basic" class="tabcontent">
    <%= simple_form_for(@role) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name %>
        <%= f.input :enabled  %>
        <%= f.input :list_position %>
        <div class="clear"></div>
               <div class="center"><%= f.submit %></div>
  </div>
  <div id="Permissions" class="tabcontent">
    <fieldset>
        <legend>Invoices</legend>
        <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","Invoice") %>
    </fieldset>
    <fieldset>
            <legend>Permissions</legend>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","Permission") %>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","Role") %>
    </fieldset>
    <fieldset>
            <legend>Products</legend>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","Product") %>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","ProductCategory") %>
        </fieldset>
    <fieldset>
        <legend>Users</legend>
        <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","User") %>
    </fieldset>
    <fieldset>
            <legend>Service Rates</legend>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","ServiceRate") %>
        </fieldset>
    <fieldset>
            <legend>Work Orders</legend>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","WorkOrder") %>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","Reply") %>
    </fieldset>
    <fieldset>
            <legend>Settings</legend>
            <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","Setting") %>
        </fieldset>
    <fieldset>
        <legend>Suppliers</legend>
        <%= f.association :permissions, :as => :check_boxes, :label => "", :collection => Permission.where("subject_class = ?","Supplier") %>
    </fieldset>

    <div class="clear"></div>
           <div class="center"><%= f.submit %></div>
    <% end %>
    </div>
</div>