<div class="span10">
<table class="table table-hover table-condensed">
  <tr>
    <th>Name</th>
    <th>Enabled</th>
    <th>List position</th>
    <th>Action</th>
  </tr>

<% @roles.each do |role| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= role.name %></td>
    <td><%= role.enabled %></td>
    <td><%= role.list_position %></td>
    <td>
      <%= menu_button t("global.view"), role_path(role.id), "icon-eye-open", 'btn btn-mini btn-info' if can? :manage, Role %>
      <%= menu_button t("global.edit"), edit_role_path(role), "icon-pencil", 'btn btn-mini btn-success' if can? :manage, Role %>
    </td>
  </tr>
<% end %>
</table>
</div>
<div class="span2">
  <% if can? :create, Role %>
        <%= menu_button t("role.t_new"), new_role_path,  "icon-pencil icon-white"  %>
    <% end %>
  </div>