<h1><%= [t "user.t_title"] %></h1>
<table border="1" cellpadding="0" cellspacing="0" >
  <tr>
    <th width="100"><%= t "role.id" %></th>
    <th width="100"><%= t "role.t_name" %></th>
    <th width="100"><%= t "role.action" %></th>
  </tr>

<% @roles.each do |role| %>
  <tr align="center">
    <td><%=h role.id %></td>
    <td><%=h role.name %></td>
    <td><%= link_to(image_tag('view.png', :title => [t "global.view"]), role )%>
        <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_role_path(role) ) %>
        <%= link_to(image_tag('delete.png', :title => [t "global.delete"]), role, :confirm => 'Are you sure?', :method => :delete ) %>
    </td>
  
  </tr>
<% end %>
</table>

<br />