<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @role.name %>
</p>

<p>
  <b>Enabled:</b>
  <%= @role.enabled %>
</p>

<p>
  <b>List position:</b>
  <%= @role.list_position %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
