<table width="100%" >
  <tr> <!--mytodo: add translation-->
    <th><%= "WO #" %></th>
    <th><%= "Client" %></th>
    <th><%= "Subject" %></th>
    <th><%= "Description" %></th>
    <th><%= "Priority" %></th>
    <th><%= "Created at" %></th>
    <th><%= "Created by" %></th>
    <th><%= "Last Updated" %></th>
    <th><%= "Assigned To" %></th>
    <th><%= "Actions" %></th>
  </tr>


<% @assigned_work_orders.each do |assigned_wo| %>
      <!--mytodo - add row color shading by css and based on priority-->
  <tr align="left" class="priority_main_<%= assigned_wo.priority_list.id %>">
    <td><%= link_to(assigned_wo.id, assigned_wo) %></td>
    <td><%= link_to(assigned_wo.user.username, user_path(assigned_wo.user_id)) %></td>
    <td><%=h assigned_wo.subject %></td>
    <td><%=h assigned_wo.description %></td>
    <td><%=h assigned_wo.priority_list.name %></td>
    <td><%=h l assigned_wo.created_at, :format => :medium %></td>
    <td><%=h assigned_wo.created_by %></td>
    <td><%=h l assigned_wo.updated_at, :format => :medium %></td>
        <!--mytodo : possible database performance issues as it hist the DB for every record. maybe just add username instead. or create a join model-->
        <% if assigned_wo.assigned_to ||= nil %>
            <% @assigned = User.find(:first, :select => "username", :conditions => ["id = ?", assigned_wo.assigned_to]) %>
            <td><%= @assigned.username %></td>
        <% else %>
    <td></td>
        <% end %>
    <td ><%= link_to(image_tag('view.png', :title => [t "global.view"]), work_order_path(assigned_wo.id) )%>
        <%= link_to(image_tag('printer.png', :title => [t "global.print"]), work_order_path(assigned_wo.id,:format => 'pdf'))%>
        <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_work_order_url(assigned_wo.id)) %>
        <%= link_to(image_tag('delete.png', :title => [t "global.delete"]), work_order_path(assigned_wo.id), :confirm => 'Are you sure?', :method => :delete ) %>
    </td>
  </tr>
<% end %>
</table>
