<table class="table table-bordered table-hover table table-condensed">
  <thead>
      <tr>
        <th><%= t "workorder.index.t_wo" %></th>
            <th><%= t "workorder.priority" %></th>
            <th><%= t "global.client" %></th>
            <th><%= t "global.subject" %></th>
            <th><%= t "workorder.assigned_to" %></th>
            <th><%= t "global.actions" %></th>
      </tr>
    </thead>
    <tbody>
    <% @assigned_work_orders.each do |assigned_wo| %>
      <tr>
        <td style="text-align: left!important;" ><a href="<%= work_order_path(assigned_wo.id) %>" rel="tooltip" data-placement="right" data-original-title="
                <%= t "global.created_at" %>:<%= l assigned_wo.created_at, :format => :medium %>&nbsp;<%= t "global.by" %>&nbsp;<%= assigned_wo.created_by %>
                <%= t "global.updated_at" %>:<%= l assigned_wo.updated_at, :format => :medium %>&nbsp;<%= t "global.by" %>&nbsp;<%= assigned_wo.edited_by %>"><%= assigned_wo.id %></a></td>
            <td><%= priority_badge assigned_wo.priority_list.id,  assigned_wo.priority_list.name %></td>
            <td><%= link_to(assigned_wo.user.name, user_path(assigned_wo.user_id)) %></td>
            <td><%= truncate(assigned_wo.subject, :length => 100) %></td>
            <td><%= assigned_wo.assigned_to_username %></td>
            <td>
              <% if can? :manage, WorkOrder %>
              <a class="btn btn-small" href="<%= work_order_url(assigned_wo.id) %>"><i class="icon-search"></i><%= t("global.view") %></a>
              <a class="btn btn-small" href="<%= edit_work_order_url(assigned_wo.id) %>"><i class="icon-pencil"></i><%= t("global.edit") %></a>
              <a class="btn btn-small" href="<%= work_order_path(assigned_wo.id,:format => 'pdf') %>"><i class="icon-print"></i><%= t("global.print") %></a>
              <% end %>
            </td>
      </tr>
    <% end %>
    </tbody>
</table>

