<table class="table table-bordered table-hover table table-condensed">
  <thead>
      <tr>
        <th style="text-align: left!important;"><%= t "workorder.index.t_wo" %></th>
            <th><%= t "workorder.priority" %></th>
            <th><%= t "global.client" %></th>
            <th><%= t "global.subject" %></th>
            <th><%= t "global.closed" %></th>
      </tr>
    </thead>
    <tbody>
    <% @closed_work_orders.each do |closed_wo| %>
      <tr>
        <td><a href="<%= work_order_path(closed_wo.id) %>" rel="tooltip" data-placement="right" data-original-title="
                [<%= t "global.created_at" %>:<%= l closed_wo.created_at, :format => :medium %>&nbsp;<%= t "global.by" %>&nbsp;<%= closed_wo.created_by %>]&nbsp;&nbsp;&nbsp;
                [<%= t "global.updated_at" %>:<%= l closed_wo.updated_at, :format => :medium %>&nbsp;<%= t "global.by" %>&nbsp;<%= closed_wo.edited_by %>]"><%= closed_wo.id %></a></td>
            <td><%= priority_badge closed_wo.priority_list.id,  closed_wo.priority_list.name %></td>
            <td><%= link_to(closed_wo.user.name, user_path(closed_wo.user.id) )%></td>
            <td><%= truncate(closed_wo.subject, :length => 100 ) %></td>
            <td>
              <%= l closed_wo.created_at, :format => :medium %>&nbsp;<%= t "global.by" %>&nbsp;<%= closed_wo.created_by %>
            </td>
      </tr>
    <% end %>
    </tbody>
</table>