<table width="100%" cellspacing="0">
  <tr>
    <th><%= t "workorder.index.t_wo" %></th>
    <th><%= t "workorder.priority" %></th>
    <th><%= t "global.client" %></th>
    <th><%= t "global.subject" %></th>
    <th><%= t "global.created_at" %></th>
    <th><%= t "global.updated_at" %></th>
    <th><%= t "global.actions" %></th>
  </tr>

<% @new_work_orders.each do |new_wo| %>
    <tr align="left" valign="top" class="priority_main_<%= new_wo.priority_list.id %>">
    <td align="center"><%= link_to(new_wo.id, new_wo) %></td>
    <td align="center"><%= new_wo.priority_list.name %></td>
    <td align="center"><%= link_to(new_wo.user.name, user_path(new_wo.user.id) )%></td>
    <td><%= truncate(new_wo.subject, :length => 75) %></td>
    <td><%= l new_wo.created_at, :format => :medium %> by <%=h new_wo.created_by %></td>
    <td><%= l new_wo.updated_at, :format => :medium %> by <%=h new_wo.edited_by %></td>

    <td width="120" align="center">
        <%= link_to(image_tag('view.png', :title => [t "global.view"]), work_order_path(new_wo.id) )%>&nbsp;
        <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_work_order_url(new_wo.id)) %>&nbsp;
      <% if can? :manage, @work_orders %>
       <%= link_to(image_tag('printer.png', :title => [t "global.print"]), work_order_path(new_wo.id,:format => 'pdf'))%>&nbsp;
       <%= link_to(image_tag('delete.png', :title => [t "global.delete"]), work_order_path(new_wo.id), :confirm => [t 'alert.destroy'], :method => :delete ) %>&nbsp;
       <%= link_to(image_tag('tick.png', :title => [t "global.close"]), close_path(new_wo.id))%>&nbsp;

      <% end %>
    </td>
  </tr>
<% end %>
</table>
