<table width="100%" cellspacing="0">
  <tr><!--myTODO: Translation -->
    <th><%= t "workorder.index.t_wo" %></th>
    <th><%= t "workorder.priority" %></th>
    <th><%= t "global.client" %></th>
    <th><%= t "global.subject" %></th>
    <th><%= t "global.created_at" %></th>
    <th><%= t "global.updated_at" %></th>
    <th><%= t "workorder.assigned_to" %></th>
    <th><%= t "global.actions" %></th>
  </tr>


<% @pending_work_orders.each do |pending| %>
  <tr class="priority_main_<%= pending.priority_list.id %>">
    <td align="center"><%= link_to(pending.id, pending) %></td>
    <td align="center"><%= pending.priority_list.name %></td>
    <td align="center"><%= link_to(pending.user.name, user_path(pending.user_id)) %></td>
    <td><%= truncate(pending.subject , :length => 75) %></td>
    <td><%= l pending.created_at, :format => :medium %> <%= t "global.by" %> <%= pending.created_by %></td>
    <td><%= l pending.updated_at, :format => :medium %> <%= t "global.by" %> <%= pending.edited_by %></td>
    <td><%= pending.assigned_to_username %></td>
    <td width="w140" align="center"><%= link_to(image_tag('view.png', :title => (t "global.view")), work_order_path(pending.id) )%>&nbsp;
        <%= link_to(image_tag('edit.png', :title => (t "global.edit")), edit_work_order_url(pending.id)) %>&nbsp;
        <%= link_to(image_tag('delete.png', :title => (t "global.delete")), work_order_path(pending.id), :confirm => (t 'alert.destroy'), :method => :delete ) %>
    </td>
  </tr>
<% end %>
</table>
