<div id="ddtabs1" class="basictab">
<ul>
<li><a href="#<%= t "workorder.tab_menu_resolution"  %>" rel="sc2"><%= (t "workorder.tab_menu_resolution") %></a></li>
</ul>
</div>

<div class="tabcontainer">

<div id="sc2" class="tabcontent">

<% simple_form_for(@work_order) do |f| %>
        <%= f.input :resolution, :label => (t "workorder.resolution") %>
        <%= f.input :closed, :input_html => {:checked =>  true} %>
        <%= f.input :status_id, :as => :hidden, :input_html => {:value => 6 } %>
        <%= f.input :closed_by, :as => :hidden, :input_html => {:value =>  current_user.username} %>
        <%= f.input :closed_date, :as => :hidden, :input_html => {:value =>  Time.now} %>

<%= f.button :submit, 'Close' %>
<% end %>
</div>
</div>