<div id="top_float_left">
   <%= link_to(image_tag('exit.png', :title => [t "global.cancel"],:align => "bottom", :hspace => "2"), work_orders_path) %>&nbsp;&nbsp;<%= link_to([t "global.cancel"], work_orders_path) %>&nbsp;&nbsp;<%= link_to(image_tag('tick.png', :title => [t "global.close"],:align => "bottom", :hspace => "2"), close_path, :confirm => 'Are you sure?', :method => :put) %>&nbsp;<%= link_to([t "global.close"], close_path, :confirm => (t "workorder.message_close_confirmation"), :method => :put) %>
</div>
<br>
<div id="ddtabs1" class="basictab">
<ul>
<li><a href="#<%= t "workorder.tab_menu_basic_name"  %>" rel="tab1"><%= (t "workorder.tab_menu_basic") %></a></li>
<li><a href="#<%= t "workorder.tab_menu_resolution"  %>" rel="tab2"><%= (t "workorder.tab_menu_resolution") %></a></li>
</ul>
</div>

<div class="tabcontainer">

<div id="tab1" class="tabcontent">

<% semantic_form_for(@work_order) do |f| %>
      <% f.inputs do %>
        <%= f.input :subject, :label => (t "workorder.subject") %>
        <%= f.input :status, :label => (t "workorder.status") %>
        <%= f.input :priority_list, :label => (t "workorder.priority") %>
        <%= f.input :assigned_to_username, :as => :select, :collection => User.find(:all, :conditions => "roles_mask < 5 " )  %>
        <%= f.input :description, :label => (t "workorder.details"), :input_html => {:rows => 30, :style => "margin-left:26%" }%>
        <%= f.input :updated_at, :as => :hidden, :input_html => {:value =>  Time.now} %>
      <% end %>
    <%= f.buttons %>
    <%= textiletoolbar_for('work_order_description') %>
<% end %>
</div>
<div id="tab2" class="tabcontent">
<% semantic_form_for(@work_order) do |f| %>
      <% f.inputs do %>
        <%= f.input :resolution, :label => (t "workorder.resolution"), :input_html => { :rows => 20 }%>
        <%= f.input :closed, :as => :select, :label => (t "workorder.closed"), :hint => (t "workorder.hint.re_open") %>
        <%= f.input :updated_at, :as => :hidden, :input_html => {:value =>  Time.now} %>
      <% end %>
<%= f.buttons %>
<% end %>
</div>
</div>
