<!--EOF WO Edit Form-->
<div class="row-fluid">
<div class="span10">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#<%= t "workorder.tab_menu_basic_name" %>" data-toggle="tab"><%= (t "workorder.tab_menu_basic") %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="<%= t "workorder.tab_menu_basic_name" %>">
      <%= simple_form_for @work_order, :html => {:class => "form-horizontal"} do |f| %>
             <%= f.input :subject, :label => (t "workorder.subject") %>
             <% if current_user.workorder_assignability == true then %>
                 <%= f.association :status, :label => (t "workorder.status"), :include_blank => false %>
                 <%= f.association :priority_list, :label => (t "workorder.priority"), :include_blank => false %>
                 <%= f.input :assigned_to_username, :label => (t "workorder.assigned_to"), :as => :select, :collection => User.where("workorder_assignability = ?", true), :value_method => :name %>
             <% else %>
                 <%= f.association :status, :label => (t "workorder.status"), :disabled => true, :include_blank => false %>
                 <%= f.association :priority_list, :label => (t "workorder.priority"), :include_blank => false %>
                 <%= f.input :assigned_to_username,:label => (t "workorder.assigned_to"), :as => :select, :collection => User.where("workorder_assignability = ?", true), :value_method => :name, :disabled => true %>
             <% end %>
             <%= f.input :description, :label => (t "workorder.details"), :input_html => { :class => "input-block-level", :rows => "10"} %>
          <% if can? :close, WorkOrder %>
              <%= f.input :resolution, :label => (t "workorder.resolution"), :input_html => { :class => "input-block-level", :rows => "10"}  %>
                <%= f.input :closed, :label => (t "workorder.closed"), :as => :select, :hint => (t "workorder.hint.re_open"), :include_blank => false %>
              <% end %>

             <div class="form-actions">
               <%= f.submit nil, :class => "btn btn-primary" %>
               <%= link_to t("global.cancel"), work_order_path, :class => "btn" %>
             </div>
          <% end %>
          </div>
  </div>
</div>

</div>
<!--EOF WO Edit Form-->
<!--SOF Sidebar-->
<div class="span2">
  <ul class="nav nav-list">
    <li class="nav-header">Actions</li>
        <li class="exit"><%= link_to t("global.exit"), work_orders_path %></li>
        <% if can? :close, WorkOrder %>
          <li><%= link_to t("global.close"), close_path, :confirm => (t "workorder.message_close_confirmation"), :method => :put %></li>
        <% end %>
        <% if can? :destroy, WorkOrder %>
          <li class="delete"><%= link_to (t "global.delete"), work_order_path, :confirm => 'Are you sure?', :method => :delete %> </li>
        <% end %>
      </ul>
</div>
</div>
