<!-- mytodo - add I18n labels and names-->
<div id="top_float_right">
  <%= link_to(image_tag('add.png',:title => [t "workorder.t_add_new"]), users_path) %><%= link_to [t "workorder.t_add_new"], users_path %>
</div>
<div id="ddtabs1" class="basictab" >
    <ul>
        <li><a href="#new" rel="sc1"><%= t "workorder.tab_menu_new" %></a></li>
        <li><a href="#assigned" rel="sc2">Assigned</a></li>
        <li><a href="#on_hold" rel="sc3">On Hold</a></li>
        <li><a href="#closed" rel="sc4">Closed</a></li>
    </ul>
</div>
<div id="index_table">
    <div class="tabcontainer">
        <div id="sc1" class="tabcontent"  style="padding:10px 10px 10px 10px">
            <%= render(:partial => 'work_orders/new_works_orders') %>
        </div>
        <div id="sc2" class="tabcontent"  style="padding:10px 10px 10px 10px">
            <%= render(:partial => 'work_orders/assigned_work_orders') %>
        </div>
        <div id="sc3" class="tabcontent"  style="padding:10px 10px 10px 10px">
            <%= render(:partial => 'work_orders/on_hold_work_orders') %>
        </div>
        <div id="sc4" class="tabcontent"  style="padding:10px 10px 10px 10px">
            <%= render(:partial => 'work_orders/closed_work_orders') %>
        </div>
    </div>
</div>