<h1>Listing work_orders</h1>

<table>
  <tr>
    <th>Workorder</th>
  </tr>

<% @work_orders.each do |work_order| %>
  <tr>
    <td><%=h work_order.workorder_id %></td>
    <td><%= link_to 'Show', work_order %></td>
    <td><%= link_to 'Edit', edit_work_order_path(work_order) %></td>
    <td><%= link_to 'Destroy', work_order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New work_order', new_work_order_path %>