<div class="row-fluid">
<div class="span10">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#new" data-toggle="tab"><%= t "workorder.tab_menu_new" %>&nbsp;<% if @new_work_orders.count > 0 %><span class="badge badge-important"><%= @new_work_orders.count %></span><% end %></a></li>
      <li><a href="#assigned" data-toggle="tab"><%= t "workorder.tab_menu_assigned" %>&nbsp;<% if @assigned_work_orders.count > 0 %><span class="badge badge-important"><%= @assigned_work_orders.count %></span><% end %></a></li>
      <li><a href="#on_hold" data-toggle="tab"><%= t "workorder.tab_menu_on_hold" %>&nbsp;<% if @on_hold_work_orders.count > 0 %><span class="badge badge-important"><%= @on_hold_work_orders.count %></span><% end %></a></li>
      <li><a href="#pending" data-toggle="tab"><%= t "workorder.tab_menu_pending" %>&nbsp;<% if @pending_work_orders.count > 0 %><span class="badge badge-important"><%= @pending_work_orders.count %></span><% end %></a></li>
      <li><a href="#re_opened" data-toggle="tab"><%= t "workorder.tab_menu_re_opened" %>&nbsp;<% if @re_opened_work_orders.count > 0 %><span class="badge badge-important"><%= @re_opened_work_orders.count %></span><% end %></a></li>
      <li><a href="#closed" data-toggle="tab"><%= t "workorder.tab_menu_closed" %>&nbsp;<span class="badge badge-success"><%= @closed_work_orders.count %></span></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="new">
        <p><%= render(:partial => 'work_orders/new_wo_tab') %></p>
      </div>
      <div class="tab-pane" id="assigned">
        <p><%= render(:partial => 'work_orders/assigned_wo_tab') %></p>
      </div>
      <div class="tab-pane" id="on_hold">
              <p><%= render(:partial => 'work_orders/on_hold_wo_tab') %></p>
            </div>
      <div class="tab-pane" id="pending">
              <p><%= render(:partial => 'work_orders/pending_wo_tab') %></p>
            </div>
      <div class="tab-pane" id="re_opened">
              <p><%= render(:partial => 'work_orders/re_opened_wo_tab') %></p>
            </div>
      <div class="tab-pane" id="closed">
                    <p><%= render(:partial => 'work_orders/closed_wo_tab') %></p>
                  </div>
    </div>
  </div>
  </div>

<div class="span2">
        <%= menu_button t("global.create"), new_user_work_order_path(:user_id => current_user.id),  "icon-pencil icon-white" if current_user.client  %>
        <%= menu_button t("global.create"), clients_path, "icon-pencil icon-white" if can? :manage, User %>
  </div>
</div>
