<div class="row-fluid">
  <div class="span10">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#<%= t "workorder.tab_menu_basic_name" %>" data-toggle="tab"><%= (t "workorder.tab_menu_basic") %></a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="resolution">
          <%= simple_form_for [@user, @work_order], :html => {:class => "form-horizontal"} do |f| %>
              <%= f.input :subject, :label => (t "workorder.subject") %>
              <%= f.association :priority_list, :label => (t "workorder.priority"), :include_blank => false %>
              <%= f.input :description, :label => (t "workorder.details"), :input_html => {:class => "input-block-level", :rows => "10"} %>


              </div>
              <div class="form-actions">
                <%= f.submit nil, :class => "btn btn-primary" %>
                <%= link_to t("global.cancel"), :clients, :class => "btn" %>
              </div>
          <% end %>
          </div>

    </div>

  </div>
  <!--EOF WO Edit Form-->
  <!--SOF Sidebar-->
  <div class="span2">
  </div>
</div>
