<div class="row-fluid">
  <div class="span10">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#<%= t "workorder.tab_menu_basic_name" %>" data-toggle="tab"><%= (t "workorder.tab_menu_basic") %></a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active">
          <%= simple_form_for [@user, @work_order], :html => {:class => "form-horizontal"} do |f| %>
              <%= f.error_notification %>
              <%= f.input :subject, :label => (t "workorder.subject"), :input_html => {:class => "span3"} %>
              <%= f.association :priority_list, :label => (t "workorder.priority"), :include_blank => false %>
              <%= markdown_hint %>
              <%= f.input :description, :label => (t "workorder.details"), :input_html => {:class => "input-block-level", :rows => "10"} %>
              <%= f.input :edited_by, :as => :hidden, :input_html => { :value => current_user.username } %>
              <%= f.input :user_id, :as => :hidden, :input_html => { :value => params[:user_id] } %>
              <%= f.input :created_by, :as => :hidden, :input_html => { :value => current_user.username } %>

              </div>
              <div class="form-actions">
                <%= f.submit nil, :class => "btn btn-primary" %>
                <%= link_to t("global.cancel"), :clients, :class => "btn" %>
              </div>
          <% end %>
          </div>

    </div>

  </div>
  <!--EOF WO Edit Form-->
  <!--SOF Sidebar-->
  <div class="span2">
    <%= render :partial => 'active_workorders_sidebar' %>
  </div>
</div>
