<h1>New work_order</h1>
<!--mytodo - heaps to fix up here....add tabs and all fields required. Also i18n labels and headings-->

<% semantic_form_for @work_order do |f| %>
   <% f.inputs do %>
        <%= f.input :subject %>
        <%= f.input :description %>
        <%= f.input :resolution %>
        <%= f.input :priority_list, :include_blank => false  %>
        <%= f.input :status, :include_blank => false %>
        <%= f.input :closed %>
   <% end %>
   <%= f.buttons %>
<% end %>

<%= link_to 'Back', work_orders_path %>