<div id="sidebar_left">
  <%= module_header %>
  <div class="module">
    <ul>
        <% if @work_order.closed.blank? and can? :edit, WorkOrder %>
            <li class="edit"><%= link_to (t "global.edit"), edit_work_order_path %></li>
        <% end %>
       <% if can? :destroy, WorkOrder %>
          <li class="print"><%= link_to (t "global.print"), work_order_path(@work_order.id,:format => 'pdf') %></li>
            <% if @work_order.closed? %>

              <% if @invoiced %>
            <li class="print"><%= link_to (t "invoice.show"), invoice_path(@invoiced.id)  %></li>
              <% else %>
                   <li class="print"><%= link_to (t "invoice.create"), new_work_order_invoice_path(:work_order_id => @work_order.id) %></li>
                  <% end %>
            <% else %>
            <li class="close"><%= link_to (t "global.close"), close_path(@work_order.id)%> </li>
            <li class="delete"><%= link_to (t "global.delete"), work_order_path, :confirm => 'Are you sure?', :method => :delete %> </li>
        <% end %>
       <% end %>

      <li class="exit"><%= link_to (t "global.exit"), work_orders_path %></li>
    </ul>
</div>
  </div>
<div id="center_col" class="content">
  <div id="show_layout">
  <label><%= t "workorder.subject" %>:</label><div class="field"> <%= @work_order.subject  %></div>
  <% if @work_order.closed? %>
        <label class="simple_form select required"><%= t "workorder.assigned_to" %>:</label><div class="field"><%= @work_order.assigned_to_username %> </div>
        <% else %>

  <% if current_user.workorder_assignability == true %>
     <label class="simple_form select required"><%= t "workorder.assigned_to" %>:</label><%= render(:partial => "work_orders/assign") %>
  <% else %>
   <% if @work_order.assigned_to_username.blank? %>
     <label class="simple_form select required"><%= t "workorder.assigned_to" %>:</label><div class="field"><%= t "workorder.not_assigned_message" %></div>
   <% else %>
     <label class="simple_form select required"><%= t "workorder.assigned_to" %>:</label><div class="field"><%= @work_order.assigned_to_username %> </div>
   <% end %>
  <% end %>
  <% end %>
    <label><%= t "workorder.priority" %>:</label><div class="field "><span class="priority_<%=@work_order.priority_list.id %>"><%= @work_order.priority_list.name %></span></div>
    <label><%= t "workorder.status" %>:</label><div class="field"><%= @work_order.status.name %></div>
    <div>
      <label><%= t "workorder.details" %>:</label>
      <div class="html_area"><%= textile_tag(@work_order.description) %> </div>
    </div>
     <% if @work_order.closed.blank? %>
    <div class="center">
      <input type="submit" value="Add a Reply" id="button" class="add_comment" />
    </div>
  <div id="effect" class="hide">
     <h3 align="left">Leave a Reply</h3>
     <%= render :partial => 'replies/form' %>
  </div>
  <% end %>
    <div class="clear"></div>
  <%= will_paginate replies %>
  <% replies.each do |reply|  %>
    <div id="reply_container">
      <div id="reply" class="<%= cycle :odd, :even %>" >
      <div>
        <div class="reply_author">
           <%= image_tag "blank_avatar.png", :size => "32x32"  %><br/>
          <%= reply.user.name %>
        </div>
        <div class="reply_message">
           <strong> Message:</strong> <%= textile_tag(reply.content) %>

        <span style="font-size:10px">
          <% if reply.updated_at > reply.created_at %><%= image_tag('comment_edit.png') %>( Edited <%= localize reply.updated_at, :format => :medium %> )<% end %>
          <%= time_ago_in_words(reply.created_at) %> ago (<%= localize reply.created_at, :format => :medium %>)
        </span>
        <% if @work_order.closed.blank? %>
        <%= link_to(image_tag('edit.png', :title => (t "global.edit")), edit_work_order_reply_path(reply.id)) %>&nbsp;
        <%= link_to(image_tag('delete.png', :title => (t "global.delete")), work_order_reply_path(reply.id), :confirm => (t 'alert.destroy'), :method => :delete ) %>
        <% end %>
        </div>
    </div>
    <div style="clear:both;"></div>
  </div>
    </div>
 <% end %>
    <%= will_paginate replies %>
  <div class="clear"></div>
  <fieldset style="text-align:center;">
    <legend><%= t "global.activity_log" %></legend>

        <strong><%= t "global.created_at" %>:</strong><%= time_ago_in_words(@work_order.created_at) %> <%= t "global.ago" %> (<%= localize @work_order.created_at, :format => :short  %>) <%= t "global.by" %> <%= @work_order.created_by %>.

    <% if @work_order.updated_at == nil %>
        <% else %>
        | <strong><%= t "global.updated_at" %>:</strong><%= time_ago_in_words(@work_order.updated_at) %> <%= t "global.ago" %> (<%= localize @work_order.updated_at, :format => :short  %>) <%= t "global.by" %> <%= @work_order.edited_by %>.
<% end %>
  </fieldset>
</div>
</div>