<div id="top_float_left">
<% if can? :destroy, WorkOrder %>
<%= link_to(image_tag("delete.png", :title=> (t "global.delete"),:align => "bottom", :hspace => "2"), :confirm => 'Are you sure?',  :action => :destroy )%><%= link_to (t "global.delete"), work_order_path, :confirm => 'Are you sure?', :method => :delete %>&nbsp;&nbsp;
<% end %>
<% if can? :edit, WorkOrder %>
<%= link_to(image_tag("edit.png", :title=> (t "global.edit"),:align => "bottom", :hspace => "2"), edit_work_order_path)%><%= link_to (t "global.edit"), edit_work_order_path %>&nbsp;&nbsp;
<% end %>
  <%= link_to(image_tag('printer.png', :title => (t "global.print"),:align => "bottom", :hspace => "2"), work_order_path(@work_order.id,:format => 'pdf'))%><%= link_to (t "global.print"), work_order_path(@work_order.id,:format => 'pdf') %>&nbsp;&nbsp;
  <%= link_to(image_tag("exit.png", :title=> (t "global.exit"), :align => "bottom", :hspace => "2"), work_orders_path)%><%= link_to (t "global.exit"), work_orders_path %>
</div>
<br>
<div id="show_view">
  <table>
    <tr>
      <td class="tbl_labels" >
        <strong><%= t "workorder.subject" %>:</strong>
      </td>
      <td class="tbl_fields">
       <%= @work_order.subject %>
      </td>
  </tr>
  <tr>
      <td class="tbl_labels" >
        <strong><%= t "workorder.assigned_to" %>:</strong>
      </td>
      <td class="tbl_fields">

        <%= render(:partial => "work_orders/assign") %>

      </td>
  </tr>  
    <tr>
          <td class="tbl_labels" >
            <strong><%= t "workorder.priority" %>:</strong>
          </td>
          <td class="tbl_fields priority_<%=@work_order.priority_list.id %>">
           <%= @work_order.priority_list.name %>
          </td>
      </tr>
      <tr>
          <td class="tbl_labels" >
            <strong><%= t "workorder.status" %>:</strong>
          </td>
          <td class="tbl_fields">
           <%=h @work_order.status.name %>
          </td>
      </tr>
    <tr>
      <td align="right" valign="top">
        <strong><%= t "workorder.details" %>:</strong>
      </td>
      <td class="tbl_textarea">
        <%= simple_format(RedCloth3.new(@work_order.description).to_html) %>
      </td>
  </tr>
  </table>
  <fieldset>
    <legend class="label"><label><%= t "global.activity_log" %></label></legend>
  <table >
    <tr>
      <td class="tbl_labels" >
        <strong><%= t "global.created_at" %>:</strong>
      </td>
      <td class="tbl_fields" >
        <%= time_ago_in_words(@work_order.created_at) %> <%= t "global.ago" %> (<%= localize @work_order.created_at, :format => :short  %>) <%= t "global.by" %> <%= @work_order.created_by %>.
      </td>
    </tr>
    <% if @work_order.updated_at == nil %>
        <% else %>
    <tr>
      <td class="tbl_labels">
        <strong><%= t "global.updated_at" %>:</strong>
      </td>
      <td class="tbl_fields" >
        <%= time_ago_in_words(@work_order.updated_at) %> <%= t "global.ago" %> (<%= localize @work_order.updated_at, :format => :short  %>) <%= t "global.by" %> <%= @work_order.edited_by %>.
      </td>
    </tr>
        <% end %>
  </table>
    <br>
  </fieldset>
</div>