<div id="sidebar_left">
  <%= module_header %>
  <div class="module">
    <ul>
       <% if can? :destroy, WorkOrder %>
            <li class="delete"><%= link_to (t "global.delete"), work_order_path, :confirm => 'Are you sure?', :method => :delete %> </li>
            <li class="print"><%= link_to (t "global.print"), work_order_path(@work_order.id,:format => 'pdf') %></li>
       <% end %>
       <% if can? :edit, WorkOrder %>
            <li class="edit"><%= link_to (t "global.edit"), edit_work_order_path %></li>
       <% end %>
      <li class="exit"><%= link_to (t "global.exit"), work_orders_path %></li>
    </ul>
</div>
  </div>
<div id="center_col" class="content no_right_sidebar">
  <div id="show_layout">
  <label><%= t "workorder.subject" %>:</label><div class="field"> <%= @work_order.subject  %></div>
  <% if current_user.workorder_assignability == true %>
     <label class="simple_form select required"><%= t "workorder.assigned_to" %>:</label><%= render(:partial => "work_orders/assign") %>
  <% else %>
   <% if @work_order.assigned_to_username.blank? %>
     <label class="simple_form select required"><%= t "workorder.assigned_to" %>:</label><div class="field"><%= t "workorder.not_assigned_message" %></div>
   <% else %>
     <label class="simple_form select required"><%= t "workorder.assigned_to" %>:</label><div class="field"><%= @work_order.assigned_to_username %> </div>
   <% end %>
  <% end %>
    <label><%= t "workorder.priority" %>:</label><div class="field "><span class="priority_<%=@work_order.priority_list.id %>"><%= @work_order.priority_list.name %></span></div>
    <label><%= t "workorder.status" %>:</label><div class="field"><%= @work_order.status.name %></div>
    <div>
      <label><%= t "workorder.details" %>:</label>
      <div class="html_area"><%= simple_format(@work_order.description) %> </div>
    </div>
    <input type="submit" value="Post a Reply" id="button" />
  <div id="effect" class="hide">
     <h3 align="left">Leave a Reply</h3>
     <%= render :partial => 'replies/form' %>
  </div>
  <% @replies.each do |reply|  %>
    <div id="reply_author">
      <div class="avatar_image">
       <%= image_tag "blank_avatar.png", :size => "32x32"  %>
      </div>

      By <%= reply.user.username %>

    </div>
    <div id="reply" class="<%= cycle :odd, :even %> re">
        <div>Replied by <%= reply.user.username %>, <%= time_ago_in_words(reply.created_at) %> (<%= localize reply.created_at, :format => :medium %>) </div>
        <div><strong> Reply:</strong> <%= reply.content %><BR />
        <%= link_to 'Destroy', reply, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'Edit', edit_reply_path(:reply_id) %></div>
        <HR>
    </div>

    <% end %>
  </div>

  <fieldset style="text-align:center;">
    <legend><%= t "global.activity_log" %></legend>

        <strong><%= t "global.created_at" %>:</strong><%= time_ago_in_words(@work_order.created_at) %> <%= t "global.ago" %> (<%= localize @work_order.created_at, :format => :short  %>) <%= t "global.by" %> <%= @work_order.created_by %>.

    <% if @work_order.updated_at == nil %>
        <% else %>
        | <strong><%= t "global.updated_at" %>:</strong><%= time_ago_in_words(@work_order.updated_at) %> <%= t "global.ago" %> (<%= localize @work_order.updated_at, :format => :short  %>) <%= t "global.by" %> <%= @work_order.edited_by %>.
<% end %>
  </fieldset>
</div>
</div>