<div id="center_col" class="no_right_sidebar">
  <% form_tag products_path, :method => 'get' do %>
   <p><%= t "products.search"  %>
     <%=  text_field_tag :search_products, params[:search_products]  %>
     <%= submit_tag (t "global.submit"), :name => nil %>

   </p>
<% end %>
  <%= will_paginate @products %>



<table id="index_table" >
  <tr>
    <th><%= sortable "our_sku", (t "supplier.our_sku") %></th>
    <th><%= sortable "supplier_id", (t "supplier.supplier") %></th>
    <th><%= sortable "supplier_sku", (t "supplier.supplier_sku") %></th>
    <th><%= t "products.manufacturer" %></th>
    <th><%= t "global.description" %></th>
    <th><%= t "products.model" %></th>
    <th><%= sortable "cost_price", (t "products.cost") %></th>
    <th><%= sortable "sell_price", (t "products.sell_price") %></th>
    <th><%= sortable "qty_available", (t "products.available") %></th>
    <th><%= sortable "qty_ordered",  (t "products.ordered") %></th>
    <th><%= t "supplier.leadtime" %></th>
    <th><%= t "global.actions" %></th>
  </tr>

<% @products.each do |product| %>
  <tr align="left" class="<%= cycle :odd, :even %>">
    <td><%= link_to(product.our_sku, product) %></td>
    <td><%= link_to(product.supplier.company_name, supplier_path(product.supplier)) %></td>
    <td><%=h product.supplier_sku %></td>
    <td><%=h product.manufacturer %></td>
    <td><%=h product.description %></td>
    <td><%=h product.model %></td>
    <td><%=h number_to_currency(product.cost_price) %></td>
    <td><%=h number_to_currency(product.sell_price) %></td>
    <td><%=h product.qty_available %></td>
    <td><%=link_to(product.qty_ordered, products_path) %></td>
    <td><%=h product.supplier.parts_leadtime_days %></td>
    <td width="60"><%= link_to(image_tag('view.png', :title => (t "global.view")), product )%>
        <%= link_to(image_tag('edit.png', :title => (t "global.edit")), edit_product_path(product)) %>
        <%= link_to(image_tag('delete.png', :title => (t "global.delete")), product, :confirm => 'Are you sure?', :method => :delete ) %>
    </td>
  </tr>
<% end %>
</table>
</div>
