<h1>New products</h1>

<% semantic_form_for @product do |f| %>
    <% f.inputs "Basic" do %>
        <%= f.input :supplier, :label_method => :company_name  %>
        <%= f.input :description, :hint => (t "products.hint_desc") %>
        <%= f.input :model %>
        <%= f.input :manufacturer %>
        <%= f.input :supplier_sku, :input_html => { :size => 20 } %>
        <%= f.input :our_sku, :input_html => { :size => 20 } %>
        <%= f.input :cost_price, :input_html => { :size => 10 } %>
        <%= f.input :sell_price, :input_html => { :size => 10 } %>

    <% end %>

  <%= f.buttons %>
<% end %>

<%= link_to 'Back', products_path %>