<h1><%= t "products.t_add_new" %></h1>


<div id="top_float_right">
  <%= link_to(image_tag('close.png', :title => [t "global.close"]), products_path) %>&nbsp;<%= link_to([t "global.close"], products_path) %>
</div>

<div id="ddtabs1" class="basictab">
<ul>
<li><a href="#<%= t "products.tab_menu_basic_name"  %>" rel="sc1"><%= (t "products.tab_menu_basic") %></a></li>
<li><a href="#<%= t "products.tab_menu_inventory_name" %>" rel="sc2"><%= t "products.tab_menu_inventory_name" %></a></li>
<li><a href="#<%= t "products.tab_menu_selling_name" %>" rel="sc3"><%= t "products.tab_menu_selling" %></a></li>
<li><a href="#<%= t "products.tab_menu_warranty_name"  %>" rel="sc4"><%= t "products.tab_menu_warranty" %></a></li>
</ul>
</div>

<div class="tabcontainer">

<div id="sc1" class="tabcontent">
<% semantic_form_for @product do |f| %>
  <% f.inputs do %>
                <%= f.input :our_sku, :input_html => {:size => 20} %>
                <%= f.input :description, :hint => (t "products.hint_desc") %>
                <%= f.input :model %>
                <%= f.input :manufacturer %>
          <li class="string required">
            <%= f.label :product_category_id%>
            <%= text_field_with_auto_complete :product, :category_name, { :size => 15}, { :url => formatted_product_categories_path(:js), :method => :get, :with => "'search=' + element.value"} %>

          </li>
                <%= f.input :supplier, :label_method => :company_name %>
                <%= f.input :supplier_sku, :input_html => {:size => 20} %>
                <%= f.input :cost_price, :input_html => {:size => 10} %>
                <%= f.input :sell_price, :input_html => {:size => 10} %>
                <%= f.input :created_by, :as => :hidden, :input_html => {:value =>  current_user.username} %>
                <%= f.input :created_at, :as => :hidden, :input_html => {:value =>  Time.now} %>
            <% end %>
       <%= f.buttons %>
        <% end %>
</div>

<div id="sc2" class="tabcontent">
<% semantic_form_for @product do |f| %>
            <% f.inputs do %>
                <%= f.input :stocked_product, :hint => (t "products.stocked") %>
                <%= f.input :stocking_qty, :input_html => {:size => 20} %>
                <%= f.input :qty_on_hand, :input_html => {:size => 20} %>
                <%= f.input :qty_allocated, :input_html => {:size => 20} %>
                <%= f.input :qty_available, :input_html => {:size => 20} %>
                <%= f.input :qty_ordered, :input_html => {:size => 20} %>
            <% end %>
           <%= f.buttons %>
        <% end %>
</div>

<div id="sc3" class="tabcontent">
<% semantic_form_for @product do |f| %>
            <% f.inputs do %>
                <%= f.input :taxable %>
                <%= f.input :tax_rate, :hint => (t "products.hint_tax_rate") %>
                <%= f.input :discountable %>
                <%= f.input :disc_amount, :input_html => {:size => 5} %>
                <%= f.input :disc_percent, :input_html => {:size => 5} %>
            <% end %>
      <%= f.buttons %>
        <% end %>
</div>
<div id="sc4" class="tabcontent">
<% semantic_form_for @product do |f| %>
            <% f.inputs do %>
                <%= f.input :warranty_info, :as => :text, :input_html => {:rows => 15} %>
                <%= f.input :warranty_length, :input_html => {:size => 20} %>
                <%= f.input :warranty_unit, :as => :select, :collection => [(t "global.days"), (t "global.months"), (t "global.years")] %>
            <% end %>
      <%= f.buttons %>
        <% end %>
</div>

</div>
