<h1>New products</h1>

<% semantic_form_for @product do |f| %>
    <% f.inputs do %>
        <%= f.input :supplier, :label_method => :company_name  %>
        <%= f.input :description, :hint => (t "products.hint_desc") %>
        <%= f.input :model %>
        <%= f.input :manufacturer %>
        <%= f.input :cost_price %>
        <%= f.input :sell_price %>

    <% end %>

  <%= f.buttons %>
<% end %>

<%= link_to 'Back', products_path %>