<!--mytodo -add all fields, -add tabs-->
<div id="top_float_left">
  <% if can? :read, @Products %>
      <%= link_to(image_tag("trash.png", :title=> (t "global.delete"), :align => "bottom", :hspace => "2"), :confirm => 'Are you sure?', :action => :destroy) %><%= link_to (t "global.delete"), @product, :confirm => 'Are you sure?', :method => :delete %>&nbsp;&nbsp;
  <% end %>
  <% if can? :edit, @Products %>
      <%= link_to(image_tag("edit.png", :title=> (t "global.edit"), :align => "bottom", :hspace => "2"), edit_product_path) %><%= link_to (t "global.edit"), edit_product_path %>&nbsp;&nbsp;
  <% end %>
  <%= link_to(image_tag("exit.png", :title=> (t "global.close"), :align => "bottom", :hspace => "2"), products_path) %><%= link_to (t "global.close"), products_path %>
</div>

<div id="ddtabs1" class="basictab" >
<ul>
<li><a href="#<%= t "products.tab_menu_basic_name"  %>" rel="sc1"><%= (t "products.tab_menu_basic") %></a></li>
<li><a href="#<%= t "products.tab_menu_inventory_name" %>" rel="sc2"><%= t "products.tab_menu_inventory_name" %></a></li>
<li><a href="#<%= t "products.tab_menu_selling_name" %>" rel="sc3"><%= t "products.tab_menu_selling" %></a></li>
<li><a href="#<%= t "products.tab_menu_warranty_name"  %>" rel="sc4"><%= t "products.tab_menu_warranty" %></a></li>
</ul>
</div>

<div class="tabcontainer">

<div id="sc1" class="tabcontent">
  <table width="60%">
    <tr>
      <td >
        <strong><%= t "products.supplier" %>:</strong>
      </td>
      <td align="left">
        <%= h @product.supplier.company_name %>
      </td>
    </tr>
    <tr>
      <td  >
        <strong><%= t "global.active" %></strong>
      </td>
      <td align="left">
        <%= h @product.active? %>
      </td>
    </tr>
    <tr>
      <td >
        <strong><%= t "global.description" %>:</strong>
      </td>
      <td align="left">
        <%= h @product.description %>
      </td>
    </tr>
    <tr>
      <td >
        <strong><%= t "products.model" %>:</strong>
      </td>
      <td align="left">
        <%= h @product.model %>
      </td>
    </tr>
    <tr>
      <td  >
        <strong><%= t "products.cost" %>:</strong>
      </td>
      <td align="left">
        <%= h number_to_currency(@product.cost_price) %>
      </td>
    </tr>
    <tr>
      <td  >
        <strong><%= t "products.sell" %>:</strong>
      </td>
      <td align="left">
        <%= h number_to_currency(@product.sell_price) %>
      </td>
    </tr>
    <tr>
      <td  >
        <strong><%= t "products.sell" %>:</strong>
      </td>
      <td align="left">
        <%= h number_to_currency(@product.sell_price) %>
      </td>
    </tr>
    <tr>
  </table>
  <fieldset id="collapsable">
    <table>
      <tr>
        <td  >
          <h1><%= t "products.t_log" %></h1>
        </td>
      </tr>
      <tr>
        <td  >
          <strong><%= t "supplier.date_created" %>:</strong>
        </td>
        <td align="left">
          <%= time_ago_in_words(@product.created_at) %> <%= t "global.ago" %>
          (<%= localize @product.created_at, :format => :short %>) <%= t "global.by" %> <%= @product.created_by %>.
        </td>
      </tr>
      <tr>
        <td >
          <strong><%= t "global.last_updated_by" %>:</strong>
        </td>
        <td align="left">
          <% if @product.edited_at == nil %>
              <%= time_ago_in_words(@product.created_at) %> <%= t "global.ago" %>
              (<%= localize @product.created_at, :format => :short %>) <%= t "global.by" %> <%= @product.created_by %>.
          <% else %>
              <%= time_ago_in_words(@product.edited_at) %> <%= t "global.ago" %>
              (<%= localize @product.edited_at, :format => :short %>) <%= t "global.by" %> <%= @product.edited_by %>.
          <% end %>
        </td>
      </tr>
    </table>
  </fieldset>
</div>
<div id="sc2" class="tabcontent">

</div>
<div id="sc3" class="tabcontent">

</div>
<div id="sc4" class="tabcontent">

</div>
</div>
