<div id="sidebar_left">
  <%= module_header %>
  <div class="module">
    <ul>
      <li class="exit">
        <%= link_to (t "global.exit"), suppliers_path %>
      </li>
    </ul>

  </div>
  <%= render 'layouts/left_sidebar_modules' %>
</div>
<div id="center_col">
<div id="ddtabs1" class="basictab">
<ul>
<li><a href="#<%= t "products.tab_menu_basic_name"  %>" rel="sc1"><%= (t "products.tab_menu_basic") %></a></li>
</ul>
</div>
<div class="centered">
 <div class="tabcontainer">

<div id="sc1" class="tabcontent">
<%= simple_form_for(@supplier) do |f| %>
                <%= f.error_notification %>
                <%= f.input :active, :label =>(t "global.active") %>
                <%= f.input :company_name, :label =>(t "supplier.company_name"), :input_html => {:size => 50} %>
                <%= f.input :website, :label =>(t "supplier.website"), :input_html => {:size => 50} %>
                <%= f.input :contact_name, :label => (t "supplier.contact_name"), :input_html => {:size => 50} %>
                <%= f.input :contact_phone, :label => (t "supplier.contact_phone"), :input_html => {:size => 25} %>
                <%= f.input :address, :label => (t "global.address"), :input_html => {:rows => 5} %>
                <%= f.input :city, :label => (t "global.city"), :input_html => {:size => 25} %>
                <%= f.input :state, :label => (t "global.state"), :input_html => {:size => 25} %>
                <%= f.input :zip, :label => (t "global.zip"), :input_html => {:size => 10} %>
                <%= f.input :phone, :label => (t "global.phone"), :input_html => {:size => 25} %>
                <%= f.input :fax, :label => (t "global.fax"), :input_html => {:size => 25} %>
                <%= f.input :email, :label => (t "global.email"), :input_html => {:size => 50} %>
                <%= f.input :credit_terms, :label => (t "supplier.credit_terms"), :input_html => {:size => 30} %>
                <%= f.input :credit_amount, :label => (t "supplier.credit_amount"), :input_html => {:size => 30} %>
                <%= f.input :parts_leadtime_days, :label => (t "supplier.leadtime"), :input_html => {:size => 5} %>
                <%= f.input :notes, :label => (t "global.notes"), :input_html => {:rows => 10} %>
                <%= f.input :edited_by, :as => :hidden, :input_html => {:value =>  current_user.username} %>
                <%= f.input :edited_at, :as => :hidden, :input_html => {:value =>  Time.now} %>
<div class="center"><%= f.submit %></div>

  <% end %>
    </div>
    </div>

</div>
</div>

