<h1><%= t "supplier.t_title" %></h1>

<% form_for(@supplier) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
    <%= f.label :active %><%= f.check_box :active %><br />
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 5 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state, :size => 6 %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :size => 6 %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :credit_terms %><br />
    <%= f.text_field :credit_terms %>
  </p>
    <p>
    <%= f.label :credit_amount %><br />
    <%= f.text_field :credit_amount %>
  </p>
  <p>
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </p>
  <p>
    <%= f.label :contact_phone %><br />
    <%= f.text_field :contact_phone %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 6 %>
  </p>
  <p>
    <%= f.label :parts_leadtime_days %><br />
    <%= f.text_field :parts_leadtime_days %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
