<div id="top_float_left">
  <%= link_to(image_tag('add.png',:title => [t "supplier.t_add_new_supplier"]), new_supplier_path) %><%= link_to [t "supplier.t_add_new_supplier"], new_supplier_path %>
</div>

<table id="index_table" >
  <tr>
    <th><%= t "supplier.company_name" %></th>
    <th><%= t "supplier.phone" %></th>
    <th><%= t "supplier.fax" %></th>
    <th><%= t "supplier.email" %></th>
    <th><%= t "supplier.contact_name" %></th>
    <th><%= t "supplier.contact_phone" %></th>
    <th><%= t "supplier.active" %></th>
    <th><%= t "supplier.actions" %></th>
  </tr>

<% @supplier.each do |supplier| %>
  <tr align="center" class="<%= cycle :odd, :even %>">
    <td><%=h supplier.company_name %></td>
    <td><%=h supplier.phone %></td>
    <td><%=h supplier.fax %></td>
    <td><%=h supplier.email %></td>
    <td><%=h supplier.contact_name %></td>
    <td><%=h supplier.contact_phone %></td>
    <td><%=h supplier.active %></td>    
    <td width="80">
        <% if permitted_to? :show, Supplier.new %><%= link_to(image_tag('view.png', :title => [t "global.view"]), supplier )%> <% end %>
        <% if permitted_to? :edit, Supplier.new %> <%= link_to(image_tag('edit.png', :title => [t "global.edit"]), edit_supplier_path(supplier)) %>   <% end %>
        <% if permitted_to? :destroy, Supplier.new %><%= link_to(image_tag('trash.png', :title => [t "global.delete"]), supplier, :confirm => 'Are you sure?', :method => :delete ) %> <% end %>
        <%= link_to(image_tag('brick_add.png', :title => [t "product.new"]), new_product_path(:supplier_name => supplier.company_name, :supplier_id => supplier.id )) %>
    </td>
  </tr>
<% end %>
</table>

<br />

