<p>
  <strong>Company name:</strong>
  <%=h @supplier.company_name %>
</p>

<p>
  <strong>Address:</strong>
  <%=h @supplier.address %>
</p>

<p>
  <strong>City:</strong>
  <%=h @supplier.city %>
</p>

<p>
  <strong>State:</strong>
  <%=h @supplier.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%=h @supplier.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%=h @supplier.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%=h @supplier.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%=h @supplier.email %>
</p>

<p>
  <strong>Credit terms:</strong>
  <%=h @supplier.credit_terms %>
</p>

<p>
  <strong>Contact name:</strong>
  <%=h @supplier.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%=h @supplier.contact_phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%=h @supplier.notes %>
</p>

<p>
  <strong>Active:</strong>
  <%=h @supplier.active %>
</p>

<p>
  <strong>Date created:</strong>
  <%=h @supplier.date_created.strftime('%b %d, %Y at %H:%M') %>
</p>

<p>
  <strong>Date updated:</strong>
  <%=h @supplier.date_updated.strftime('%b %d, %Y at %H:%M') %>
</p>

<p>
  <strong>Parts leadtime days:</strong>
  <%=h @supplier.parts_leadtime_days %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>