<table>
  <tr>
    <td colspan="2" align="right">
      <strong>Company name:</strong>
    </td>
    <td align="left">
      <%=h @supplier.company_name %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>Address:</strong>
    </td>
    <td align="left">
      <%=h @supplier.address %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>City:</strong>
    </td>
    <td align="left">
     <%=h @supplier.city %>
    </td>
  </tr>
 <tr>
    <td colspan="2" align="right">
      <strong>State:</strong>
    </td>
    <td align="left">
     <%=h @supplier.state %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>Zip/Postcode:</strong>
    </td>
    <td align="left">
     <%=h @supplier.zip %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>Phone:</strong>
    </td>
    <td align="left">
     <%=h @supplier.phone %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>Fax:</strong>
    </td>
    <td align="left">
     <%=h @supplier.fax %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>Email:</strong>
    </td>
    <td align="left">
     <%= auto_link_email_addresses( @supplier.email ) %>
    </td>
  </tr>
    <tr>
    <td colspan="2" align="right">
      <strong>Contact Name:</strong>
    </td>
    <td align="left">
     <%=h @supplier.contact_name %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t"supplier.contact_phone" %></strong>
    </td>
    <td align="left" >
     <%=h @supplier.contact_phone %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>Credit Terms:</strong>
    </td>
    <td align="left">
     <%=h @supplier.credit_terms %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong>Credit Amount:</strong>
    </td>
    <td align="left">
     <%=h number_to_currency( @supplier.credit_amount ) %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.notes" %>:</strong>
    </td>
    <td align="left" >
     <textarea rows="6" cols="50" name="contact" readonly="readonly" ><%=h @supplier.notes  %></textarea>
    </td>
  </tr>
<tr>
    <td colspan="2" align="right">
      <strong><%= t"supplier.active" %></strong>
    </td>
    <td align="left">
     <%=h @supplier.active? %>
    </td>
  </tr>
<tr>
    <td colspan="2" align="right">
      <strong><%= t"supplier.date_created" %></strong>
    </td>
    <td align="left">
     <%= distance_of_time_in_words_to_now( @supplier.date_created ) %>
    </td>
  </tr>
<tr>                           
    <td colspan="2" align="right">
      <strong><%= t"supplier.active" %></strong>
    </td>
    <td align="left">
     <%=h @supplier.active? %>
    </td>
  </tr>
<tr>
    <td colspan="2" align="right">
      <strong><%= t"supplier.active" %></strong>
    </td>
    <td align="left">
     <%=h @supplier.active? %>
    </td>
  </tr>




</table>
<p>
  <strong>Date created:</strong>
  <%=h @supplier.date_created.strftime('%b %d, %Y at %H:%M') %>
</p>

<p>
  <strong><%= t "global.last_updated_by" %></strong>
    <%=h @supplier.user_id  %> on <%=h @supplier.date_updated.strftime('%B %d, %Y at %H:%M') %>
</p>

<p>
  <strong>Parts leadtime days:</strong>
  <%=h @supplier.parts_leadtime_days %>
</p>


<%= button_to 'Edit', edit_supplier_path(@supplier) %><%= button_to 'Back', suppliers_path %>