<!-- mytodo adjust layout the same as users-->
<div id="top_float_left">
<% if permitted_to? :destroy, Supplier.new %>
<%= link_to(image_tag("trash.png", :title=> (t "global.delete"),:align => "bottom", :hspace => "2"), :confirm => 'Are you sure?',  :action => :destroy )%><%= link_to (t "global.delete"), @supplier, :confirm => 'Are you sure?', :method => :delete %>&nbsp;&nbsp;
<% end %>
<% if permitted_to? :edit, Supplier %>
<%= link_to(image_tag("edit.png", :title=> (t "global.edit"),:align => "bottom", :hspace => "2"), edit_supplier_path)%><%= link_to (t "global.edit"), edit_supplier_path %>&nbsp;&nbsp;
<% end %>
  <%= link_to(image_tag("exit.png", :title=> (t "global.close"), :align => "bottom", :hspace => "2"), suppliers_path)%><%= link_to (t "global.close"), suppliers_path %>
</div>
<div id="show_view">
<table width="100%">
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.company_name" %>:</strong>
    </td>
    <td align="left">
      <%=h @supplier.company_name %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.website" %>:</strong>
    </td>
    <td align="left">
      <%= auto_link_urls @supplier.website %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t"supplier.active" %></strong>
    </td>
    <td align="left">
     <%=h @supplier.active? %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.address" %>:</strong>
    </td>
    <td align="left">
      <textarea rows="6" cols="50" name="contact" readonly="readonly" ><%=h @supplier.address  %></textarea>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.city" %>:</strong>
    </td>
    <td align="left">
     <%=h @supplier.city %>
    </td>
  </tr>
 <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.state" %>:</strong>
    </td>
    <td align="left">
     <%=h @supplier.state %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.zip" %>:</strong>
    </td>
    <td align="left">
     <%=h @supplier.zip %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "global.phone" %>:</strong>
    </td>
    <td align="left">
     <%=h @supplier.phone %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "global.fax" %>:</strong>
    </td>
    <td align="left">
     <%=h @supplier.fax %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "global.email" %>:</strong>
    </td>
    <td align="left">
     <%= auto_link_email_addresses( @supplier.email ).html_safe %>
    </td>
  </tr>
    <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.contact_name" %>:</strong>
    </td>
    <td align="left">
     <%=h @supplier.contact_name %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t"supplier.contact_phone" %></strong>
    </td>
    <td align="left" >
     <%=h @supplier.contact_phone %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.credit_terms" %>:</strong>
    </td>
    <td align="left">
     <%=h @supplier.credit_terms %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.credit_amount" %>:</strong>
    </td>
    <td align="left">
     <%=h number_to_currency( @supplier.credit_amount ) %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right" >
     <strong><%= t "supplier.leadtime" %>:</strong>
    </td>
    <td>
     <%=h @supplier.parts_leadtime_days %>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      <strong><%= t "supplier.notes" %>:</strong>
    </td>
    <td align="left" >
     <textarea rows="6" cols="50" name="contact" readonly="readonly" ><%=h @supplier.notes %></textarea>
    </td>
  </tr>
  </table>
  <fieldset id="collapsable">
  <table>
  <tr>
    <td colspan="2" align="right">
       <h1><%= t "supplier.t_log" %></h1>
    </td>
  </tr>

<tr>
    <td colspan="2" align="right">
      <strong><%= t"supplier.date_created" %>:</strong>
    </td>
    <td align="left">
      <%= time_ago_in_words(@supplier.created_at) %> <%= t "global.ago" %> (<%= localize @supplier.created_at, :format => :short  %>) <%= t "global.by" %> <%= @supplier.created_by %>.
    </td>
  </tr>
<tr>
    <td colspan="2" align="right">
      <strong><%= t "global.last_updated_by" %>:</strong>
    </td>
    <td align="left">
      <% if @supplier.edited_at == nil %>
          <%= time_ago_in_words(@supplier.created_at) %> <%= t "global.ago" %> (<%= localize @supplier.created_at, :format => :short %>) <%= t "global.by" %> <%= @supplier.created_by %>.
        <% else %>
          <%= time_ago_in_words(@supplier.edited_at) %> <%= t "global.ago" %> (<%= localize @supplier.edited_at, :format => :short %>) <%= t "global.by" %> <%= @supplier.edited_by %>.
        <% end %>
          </td>
  </tr>

</table>
    <br>
  </fieldset>
    </div>