<% form_for(@user_session, :url => { :action => "create" }) do |f| %>
  <% if @user_session.errors.any? %>
        <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
           <% end %>
          </ul>
  <% end %>
<p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit t "global.login" %>
  </p>
<% end %>
