<%= render 'layouts/left_sidebar_modules' %>

<div id="center_col" class="content">

  <div class="center"> <h1><%= @title %></h1></div>
  <div style="width: 45%; margin-left:27.5%; padding: 10px;border:#999999 solid 2px;background-color: #dff1ff;" >
  <%= simple_form_for(UserSession.new ) do |f| %>
            <%= f.error_notification %>
            <%= f.input :username, :placeholder => 'Username', :input_html => {:size => 27} %>
            <%= f.input :password, :placeholder => 'Password', :input_html => {:size => 28} %>
            <div class="center">
              <%= f.submit t 'global.login' %><br />
              <%= link_to "New User? Register here.", register_path  %>
            </div>

 <% end %>

</div>
</div>