<%= simple_form_for(@user_session, :url => {:action => "create" }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :username %>
    <%= f.input :password %>

  </div>

  <div class="actions">
    <%= f.submit t 'global.login'  %>
  </div>
<% end %>

