<div class="span-19">
  <%= simple_form_for(@user_session, :url => {:action => "create" }) do |f| %>
    <%= f.error_notification %>


      <%= f.input :username %>
      <%= f.input :password %>

      <%= f.submit t 'global.login'  %>
  <% end %>


</div>
