<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
    </style>
<div class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= simple_form_for( UserSession.new ) do |f| %>
              <%= f.input :username, :placeholder => 'Username' %>
              <%= f.input :password, :placeholder => 'Password' %>

          <%= f.button :submit, :value => t('global.login'),:class =>"btn btn-primary" %>

   <% end %>
  <%= link_to "New User? Register here.", register_path  %>
</div>

