<div id="sidebar_left">
  <% if not logged_in? %>
      <%= module_header(t "global.module.menu") %>
            <div class="module_menu">
                <ul>
                  <li><%= link_to 'Home', root_url %></li>
                   <li><%= link_to 'Login', login_url %></li>
                </ul>
            </div>
      <%= module_header(t "global.module.contact_us" ) %>
            <div class="module">
              <p>
                  <% if Setting::business_phone.present? %><p><%= image_tag "telephone.png", :hspace => 8 %><%= Setting::business_phone %><% end %>
                  <% if Setting::business_mobile.present? %><p><%= image_tag "mobile_phone.png", :hspace => 8 %><%= Setting::business_mobile %><% end %>
                  <% if Setting::business_email.present? %><p><%= image_tag "email.png", :hspace => 8 %><%= Setting::business_email %><% end %>
              </p>

            </div>

  <% end %>
  <% if logged_in? %>
          <%= module_header('My Overview') %>
              <div class="module links">
                <p>
                  <% if current_user.employee? %>
                  <div id="my_overview">
                    <h5> Work Orders </h5>
                    <div class="col_name">
                  New : <br/>
                  Assigned : <br/>
                  On Hold : <br/>
                  Pending : <br/>
                  Re-Opened : <br/>
                  Closed : <br/>
                  </div>
                   <div class="col_value">
                     <!--Add a for each function here to tidy up code-->
                    <% if employees_work_overview('1').count > 0 %>
                        <%= link_to employees_work_overview('1').count, work_orders_path %><br/>
                           <% else %>
                        <%= link_to employees_work_overview('1').count, work_orders_path, :class => "col_value_new" %><br/>
                    <% end %>
                  <%= link_to employees_work_overview('2', current_user.id).count, work_orders_path %> <br/>
                  <%= employees_work_overview('3', current_user.id).count %><br/>
                  <%= employees_work_overview('4', current_user.id).count %> <br/>
                  <%= employees_work_overview('5', current_user.id).count %><br/>
                  <%= employees_work_overview('6', current_user.id).count %> <br/>
                    </div>
                  </div>

                  <% end %>
                  <% if current_user.client == true %>
                     <div id="my_overview">
                        <h5> Work Orders </h5>
                    <div class="col_name">
                  New : <br/>
                  Assigned : <br/>
                  On Hold : <br/>
                  Pending : <br/>
                  Re-Opened : <br/>
                  Closed : <br/>
                  </div>
                   <div class="col_value">
                     <!--Add a for each function here to tidy up code-->
                    <% if clients_overview('1',current_user.id).count > 0 %>
                        <%= link_to clients_overview('1',current_user.id).count, work_orders_path %><br/>
                           <% else %>
                        <%= link_to clients_overview('1',current_user.id).count, work_orders_path, :class => "col_value_new" %><br/>
                    <% end %>
                  <%= link_to clients_overview('2', current_user.id).count, work_orders_path %> <br/>
                  <%= clients_overview('3', current_user.id).count %><br/>
                  <%= clients_overview('4', current_user.id).count %> <br/>
                  <%= clients_overview('5', current_user.id).count %><br/>
                  <%= clients_overview('6', current_user.id).count %> <br/>
                    </div>
                  </div>
                  <% end %>
                </p>
              </div>
      <% if current_user.client %>
            <%= module_header(t "global.module.contact_us" ) %>
          <div class="module">
                       <p>
                           <% if Setting::business_phone.present? %><p><%= image_tag "telephone.png", :hspace => 8 %><%= Setting::business_phone %><% end %>
                           <% if Setting::business_mobile.present? %><p><%= image_tag "mobile_phone.png", :hspace => 8 %><%= Setting::business_mobile %><% end %>
                           <% if Setting::business_email.present? %><p><%= image_tag "email.png", :hspace => 8 %><%=  Setting::business_email %><% end %>
                       </p>

                     </div>
                <% end %>

      <%= module_header(t "global.logout") %>
      <div class="module">
        <div class="center">
          <%= button_to "Logout", logout_url %>
        </div>
      </div>

  <% end %>
 </div>