<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= Setting::business_name %>-<%= @title || "" %></title>
  <meta name="keywords" content="<%= Setting::meta_tags %>" />

  <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', 'ddtabmenu', 'jstoolbar', :cache => "base" %>
  <%= javascript_include_tag :all %>
  <script type="text/javascript">
    ddtabmenu.definemenu("ddtabs1", 0 ) //initialize Tab Menu with ID "ddtabs1" and select 1st tab by default
  </script>
</head>
<body >

<div id="header">
  <%= image_tag 'logo.png', :height => 60 %>
</div>

<div id="user_nav" class="menu">
  <%= render_navigation %>
</div>
<div id="container" >
  <!--<div id="right_bar">
  </div>-->
  <div id="yield">
     <%- flash.each do |name, msg| -%>
        <p>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </p>
      <br>
    <%- end -%>
    <div id="top_float_right">
     <%= link_to(image_tag("back.png", :title=> (t "global.back"), :align => "bottom", :hspace => "2"), :back)%><%= link_to (t "global.back"), :back %>
    </div>
    <h1><%= @title || "" %></h1>
        <%= yield %>
    </div>
</div>
<div id="footer" class="footer_link" >
  <p>
    Powered by <a href="http://myitcrm.com" >MyIT CRM</a>&copy; 2010,2011
  </p>
  <p class="footer_version">
   Release - ALPHA 2.0.0.0
  </p>
  
</div>
</body>
</html>
