<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title> <%= t "global.program_name" %> | <%= @title %></title>

  <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', :cache => "base" %>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.2.custom.min.js' %>
  <script type="text/javascript">
      $(function() {
          // Tabs
          $('#tabs').tabs();
      });
  </script>
  <!--[if lte IE 7]>
  <style type="text/css">
  html .jqueryslidemenu{height: 1%;} /*Holly Hack for IE7 and below*/
  </style>
  <![endif]-->
  
</head>
<body>
<div id="header">
  <%= image_tag 'logo.png', :height => 60 %>
</div>

<div id="user_nav" class="menu">
  <%= render_navigation %>
</div>
<div id="container" >
  <!--<div id="right_bar">
  </div>-->
  <div id="yield">
    <p>
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
    </p>
    <%= yield %>
  </div>

</div>
<div id="footer" class="footer_link" >
  <p>
    Powered by <a href="http://team.myitcrm.com" >MyIT CRM</a>&copy; 2010
  </p>
  <p class="footer_version">
   Release - ALPHA 2.0.0.0
  </p>
  
</div>
</body>
</html>