<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> <%= t "global.program_name" %> | <%= @title %></title>
  <%= stylesheet_link_tag 'application'  %>
</head>
<body>

<div id="container" >
  <%= image_tag 'rails.png', :height => 100%>
  <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

  <div id="user_nav">
    <% if current_user %>
         <%= link_to "Home", root_url %> |
            <% if permitted_to? :create, @user %>
         <%= link_to "New User", new_user_path %> |
            <% end %>
        <% if permitted_to? :index, @user %>
         <%= link_to "List Users", users_path %> |
            <% end %>
        <% if permitted_to? :show, @supplier %>
         <%= link_to "Suppliers", suppliers_path %> |
            <% end %>
         <%= link_to "Edit Profile", edit_user_path(:id => current_user.id) %> |
         <%= link_to (t "global.logout"), logout_path %> 
    <% else %>
         <%= link_to "Home", root_url %> |                    
         <%= link_to "Register", signup_path %> |
         <%= link_to "Login", login_path %>
    <% end %>
  </div>

  <%= yield %>

</div>
<div id="footer"  >
<p > MyIT CRM Version 2.0.0</p>

</div>



</body>

</html>