<!DOCTYPE html>
<html>
<head>
  <title><%= Setting::business_name %>-<%= @title || "" %></title>
  <meta name="keywords" content="<%= Setting::meta_tags %>"/>
  <%= stylesheet_link_tag 'print', :media => "print"  %>
  <%= stylesheet_link_tag 'application', :media => "screen"  %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/header' %>
<% if logged_in?  %>
<div id="menu">
 <%= render_navigation(:expand_all => true) %>
     <div id="user_info_menu">
        <%= t "global.welcome_back" %>&nbsp;<a href="<%= my_account_path(:id=> current_user)%>"><%= current_user.name %></a>
    </div>
</div>
<% end %>
<div style="clear:both;float:none;"></div>
<div id="container">
  <div id="yield">
    <%- flash.each do |name, msg| -%>
        <p>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </p>
    <%- end -%>
    <div id="page_title" class="text_shadow">
      <% if logged_in?  %><h1><%= @title || "" %></h1><% end %>
    </div>
    <%= yield %>
  </div>
</div>
<div id="footer">
  <p>
    Powered by <a href="http://myitcrm.com">MyIT CRM</a>&copy; 2010 - <%= Date.today.year %> - <%= Setting::version %> - Glen Vanderhel
  </p>
</div>
</body>
</html>
