<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> <%= t "global.program_name" %> | <%= @title %></title>
  <%= stylesheet_link_tag 'application'  %>
</head>
<body>
<table width="100%">
  <tr align="center">
    <td>
      <%= image_tag 'logo.png', :height => 60 %>
    </td>
  </tr>
</table>
<div id="container" >
<div id="user_nav">
        <% if logged_in? %>
         <%= link_to ( t "global.dashboard"), root_url %> |
        <% if permitted_to? :show, Supplier.new %>
         <%= link_to ( t "user.t_title"), users_path %> |
         <%= link_to ( t "supplier.t_title"), suppliers_path %> |
            <% end %>
         <%= t "global.welcome" %> <% if permitted_to? :edit_profile, User.new %>
        <%= link_to current_user.username, profile_url(:id => current_user)%>! Not you?
          <% else %>
      <%=h current_user.username %>! Not you?
        <% end %>
         <%= link_to (t "global.logout"), logout_path %>
    <% else %>
         <%= link_to ( t "global.home"), root_url %> |
         <%= link_to ( t "global.register"), signup_path %> |
         <%= link_to ( t "global.login"), login_path %>
    <% end %>

</div>
  <p>
    <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
  </p>
     <%= yield %>
</div>
<div id="footer"  >
<p > MyIT CRM Version 2.0.0</p>
</div>
</body>
</html>