<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= Setting::business_name %>-<%= @title || "" %></title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= Setting::meta_tags %>"/>
</head>
<body>
<div id="wrap">
<%= render 'layouts/header' %>
<div class="container-fluid">
  <% if logged_in?  %>
<%= render 'layouts/navbar' %>
<% end %>
  <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
      <% if logged_in?  %><h3><%= @title || "" %></h3><% end %>
    <div class="row-fluid">
      <div class="span12"> <%= yield %></div>
    </div>
  <div id="push"></div>
</div>


<div id="footer">
  <div class="container">
    <p class="muted credit" style="text-align: center">Powered by <a href="http://myitcrm.com">MyIT CRM</a>&copy; 2010 - <%= Date.today.year %> - <%= Setting::version %> - Glen Vanderhel </p>
  </div>
</div>
</div>
</body>
</html>
