<!DOCTYPE html>
<html>
<head>
  <title><%= Setting::business_name %>-<%= @title || "" %></title>
  <meta name="keywords" content="<%= Setting::meta_tags %>"/>
  <%= stylesheet_link_tag 'application', 'ddtabmenu', 'textile-editor' %>
  <%= javascript_include_tag 'jquery-1.5.1.min', 'textile-editor', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
      ddtabmenu.definemenu("ddtabs1", 0); //initialize Tab Menu with ID "ddtabs1" and select 1st tab by default
  </script>
</head>
<body>

<div id="header">
  <%= image_tag 'logo.png', :height => 60 %>
</div>

<div id="user_nav" class="menu">
  <%= render_navigation %>
</div>
  <% if logged_in?  %>
    <div id="top_float_right">
        <%= t "global.currently_logged_in_as" %>&nbsp;<%= current_user.name %>
    </div>
  <% end %>
<div id="container">
  <div id="yield">
    <%- flash.each do |name, msg| -%>
        <p>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </p>
    <%- end -%>
    <h1><%= @title || "" %></h1>
    <%= yield %>
  </div>
</div>
<div id="footer" class="footer_link">
  <p>
    Powered by <a href="http://myitcrm.com">MyIT CRM</a>&copy; 2010 - 2011
  </p>

  <p class="footer_version">
    Release - ALPHA 2.0.0.0
  </p>

</div>
</body>
</html>
